@charset "utf-8";
*{ -webkit-transform:translateZ(0); }
/*****************************************  estilos base  *****************************************/
html{ overflow:hidden; }
body{
    margin:0px; padding:0px;
    background-color:#333333;
    overflow:hidden;
}
.resizeWindow{
    position: absolute;
    width: 1350px; height: 700px;
    left: 0px; top: 0px;
    margin: 0;
    overflow: hidden;
    transform-origin: 0% 0%;
}
#qLoverlay{ display: none; z-index: 999; }
#historia{ display: block; background-color: #434343; }
/*****************************************  loader  *****************************************/
#qLoverlay{
    display: none;
    background:url(../images/fondoLoader.png) no-repeat center center;
    z-index: 999;
}
#qLpercentage{
    position:absolute;
    width: 250px; height: 120px;
    left: 550px; bottom: 330px;
    font-family:"Bebas";
    font-size: 111px;
    line-height: 120px;
    color:#ffffff;
    text-align: center;
}
#img_loader01{
    position: absolute;
    width: 215px; height: 126px;
    left: 567px; bottom: 175px;
    background:url(../images/loadG.png) no-repeat 50% 100%;
    overflow: hidden;
}
#img_loader01 div{
    position: absolute; display: block;
    width: 100%;
    left: 0; right: 0;
    bottom: 0;
    background:url(../images/load.png) no-repeat 50% 100%;
    overflow: hidden;
}
#qLoverlay img{ visibility:hidden; }
/*****************************************  pantallas iniciales  *****************************************/
.instrucciones{
    position:absolute;
    width:1350px; height:700px;
    left:0px; top:0px;
    z-index:600;
    display:none;
}
/*******************************  Instruccion 1  *******************************/
#instruccion_1{ background: url(../images/bginst1.png) no-repeat center center; }
#i1tit_1{
    position: absolute;
    width: 1200px;
    left: 75px; top: 312px;
    font-family:"CatalogoGruesa";
    font-size: 76px;
    line-height: 80px;
    color:#ffffff;
    text-align: center;
    text-transform: uppercase;
}
#i1tit_2{
    position: absolute;
    width: 800px;
    left: 275px; top: 430px;
    font-family:"Bebas";
    font-size: 29px;
    line-height: 30px;
    color:#ffcc50;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}
/*******************************  Instruccion 3  *******************************/
#instruccion_3{ background: url(../images/bginst3.png) no-repeat center center; }

#i3tit_1{
    position: absolute;
    width: 905px; height: 60px;
    left: 222px; top: 34px;
    background: rgba(0,0,0,0) url(../images/i3bg1.png) no-repeat 50% 50%;
}
#i3txt_1{
    position: absolute;
    width: 800px;
    left: 275px; top: 120px;
    font-family: "CatalogoGruesa";
    font-size: 17px;
    line-height: 20px;
    color: #333745;
    text-align: center;
}

.i3btn{
    position: absolute;
    width: 240px; height: 312px;
    top: 194px;
    font-family: "Bebas";
    font-size: 22px;
    line-height: 22px;
    color: #ff3650;
    text-align: center;
    letter-spacing: 3px;
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-position: 50% 33px;
    cursor: pointer;
}
.i3btn span{
    position: absolute; display: block;
    left: 0; right: 0;
    bottom: 0;
    font-family: "CatalogoGruesa";
    font-size: 17px;
    line-height: 19px;
    color: #333745;
    letter-spacing: normal;
}
.i3btn.disable{ opacity: 0.5; pointer-events: none; }
#i3btn_1{ left: 192px; background-image: url(../images/i3btn1.png); }
#i3btn_2{ left: 434px; background-image: url(../images/i3btn2.png); }
#i3btn_3{ left: 676px; background-image: url(../images/i3btn3.png); }
#i3btn_4{ left: 918px; background-image: url(../images/i3btn4.png); }

#i3txt_2{
    position: absolute; display: none;
    width: 550px; height: 60px;
    left: 500px; top: 578px;
    font-family: 'CatalogoGruesa';
    font-size: 17px;
    line-height: 60px;
    color: #333745;
    background: rgba(0,0,0,0);
}
#i3txt_2 span{ display: inline-block; vertical-align: middle; line-height: 19px; }
#btnJugar{
    position: absolute; display: none;
    width: 260px; height: 50px;
    left: 215px; top: 580px;
    font-family: 'Bebas';
    font-size: 20px; line-height: 50px;
    color: #ffffff;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    background: #ff3650;
    box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.3);
    cursor: pointer;
}
#btnJugar2{
    position: absolute; display: none;
    width: 63px; height: 91px;
    left: 1053px; top: 561px;
    text-decoration: none;
    background: rgba(0,0,0,0) url(../images/btnJugar2.png) no-repeat 50% 50%;
    cursor: pointer;
}
/*******************************************************************************/
/**********************************  Sliders  **********************************/
/*******************************************************************************/
.cont-carousel {
    position: absolute;
    width: 1050px;
    left: 150px; top: 120px;
}
.owl-carousel {
    display: none;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    /* position relative and z-index fix webkit rendering fonts issue */
    position: relative;
    z-index: 1;
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;/* fix firefox animation glitch */
}
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
/*.owl-carousel .owl-item:first-of-type { margin-right: 20px; }*/
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled { display: none; }
.owl-carousel .owl-nav{
    position: absolute;
    width: 100%; top:230px;
    -webkit-tap-highlight-color: transparent;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next{
    position: absolute;
    top: 0;
    width: 48px; height: 108px;
    font-size: 0;
    color: transparent;
    cursor: pointer;
    cursor: hand;
    user-select: none;
}
.owl-carousel .owl-nav .owl-prev{ left: -100px; background: url(../images/slider/prev.png) no-repeat 50% 50%; }
.owl-carousel .owl-nav .owl-next{ right: -100px; background: url(../images/slider/next.png) no-repeat 50% 50%; }
.owl-carousel .owl-nav .disabled{ opacity: 0; cursor: default; }
.owl-carousel.owl-loaded{ display: block; }
.owl-carousel.owl-loading{ display: block; opacity: 0; }
.owl-carousel.owl-hidden{ opacity: 0; }
.owl-carousel.owl-refresh .owl-item{ visibility: hidden; }
.owl-carousel.owl-drag .owl-item{ user-select: none; }
.owl-carousel.owl-grab{
    cursor: move;
    cursor: grab;
}
.owl-carousel.owl-rtl{ direction: rtl; }
.owl-carousel.owl-rtl .owl-item{ float: right; }

.item{
    width: 1050px; height: 550px;
    background-color: rgba(0,0,0,0);
    user-select: none;
}
.item .tbox{
    position: absolute;
    width: 400px; height: 395px;
    left: 45px; top: 0px;
    user-select: none;
}
.no-js .owl-carousel{ display: block; }

/*******************************  general de los sliders  *******************************/
.stit_1{
    position: absolute;
    width: 1200px;
    left: 75px; top: 12px;
    padding-bottom: 17px;
    font-family: "Bebas";
    font-size: 28px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    background: url(../images/stitBG.png) no-repeat 50% 100%;
}
.stit_2{
    position: absolute;
    width: 1200px;
    left: 75px; top: 68px;
    font-family: "Bebas";
    font-size: 31px;
    line-height: 35px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.stxt{
    position: absolute;
    font-family: 'Catalogo';
    font-size: 20px;
    color: #333745;
    text-align: center;
}
.stxt span{ display: inline-block; vertical-align: middle; }

/*******************************  Slider Page 1  *******************************/
#sliderPage_1{ background: url(../images/bgspg1.png) no-repeat center center; }

#s1i1{ position: absolute; left: 4px; top: 120px; }
.s1t1{
    position: absolute;
    width: 200px; top: 360px;
    font-family: 'CatalogoGruesa';
    font-size: 17px; line-height: 20px;
    color: #333745;
    text-align: center;
    background-color: rgba(0,0,0,0);
}
#s1t1A{ left: -8px; }
#s1t1B{ left: 268px; }
#s1t1C{ left: 538px; }
#s1t1D{ left: 818px; }
#s1t1E,#s1t1F{
    position: absolute;
    width: 500px; 
    left: 275px; top: 160px;
    font-family: 'CatalogoGruesa';
    font-size: 17px; line-height: 20px;
    color: #333745;
    text-align: center;
}
#s1t1E{ top: 30px; }
#s1t1F{ top: 470px; }

#s1i2{ position: absolute; left: 290px; top: 30px; }
#s1t2{
    width: 713px; height: 139px;
    left: 168px; top: 370px;
    line-height: 130px;
    background: url(../images/slider/txtbg1.png) no-repeat 50% 50%;
}
#s1t2 span{ line-height: 32px; }

#s1i3{ position: absolute; left: 290px; top: 0px; }
#s1t3{
    width: 713px; height: 139px;
    left: 168px; top: 370px;
    line-height: 130px;
    background: url(../images/slider/txtbg1.png) no-repeat 50% 50%;
}
#s1t3 span{ line-height: 32px; }

#s1i4{ position: absolute; left: 290px; top: 0px; }
#s1t4{
    width: 713px; height: 139px;
    left: 168px; top: 370px;
    line-height: 130px;
    background: url(../images/slider/txtbg1.png) no-repeat 50% 50%;
}
#s1t4 span{ line-height: 32px; }

#s1i7{ position: absolute; left: 380px; top: 100px; }
#s1t7{
    width: 713px; height: 139px;
    left: 168px; top: 360px;
    line-height: 130px;
    background: url(../images/slider/txtbg1.png) no-repeat 50% 50%;
}
#s1t7 span{ line-height: 32px; }

#s1i8{ position: absolute; left: 650px; top: 111px; }
#s1i9{ position: absolute; left: 33px; top: 86px; }
#s1t8{
    position: absolute;
    left: 78px; top: 105px;
    line-height: 30px;
    text-align: left;
}
#s1t9{
    left: 38px; top: 105px;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    background: rgba(0,0,0,0);
}
#s1t9 li{ margin:0px; padding:0px 0px 5px 0px; list-style:none; }
#s1t9 li:before{
    content:"\2022";
    position:relative; display:block;
    max-width:0; max-height:0;
    left:-15px; top:0px;
    font-size:35px;
    color: #db3950;
}
/*******************************  Slider Page 2  *******************************/
#sliderPage_2{ background: url(../images/bgspg1.png) no-repeat center center; }

#s2i1{ position: absolute; left: 250px; top: 80px; }
#s2t1{
    width: 713px; height: 139px;
    left: 168px; top: 373px;
    line-height: 130px;
    background: url(../images/slider/txtbg1.png) no-repeat 50% 50%;
}
#s2t1 span{ line-height: 32px; }

#s2i3{ position: absolute; left: 337px; top: 10px; }
#s2t3{
    width: 713px; height: 139px;
    left: 168px; top: 373px;
    line-height: 130px;
    background: url(../images/slider/txtbg1.png) no-repeat 50% 50%;
}
#s2t3 span{ line-height: 30px; }

#s2i8{ position: absolute; left: 350px; top: 90px; }
#s2t8{
    width: 713px; height: 179px;
    left: 168px; top: 373px;
    line-height: 160px;
    background: url(../images/slider/txtbg3.png) no-repeat 50% 50%;
}
#s2t8 span{ line-height: 30px; }

#s2i2{ position: absolute; left: 410px; top: 90px; }
#s2t2{
    width: 713px; height: 139px;
    left: 168px; top: 373px;
    line-height: 130px;
    background: url(../images/slider/txtbg1.png) no-repeat 50% 50%;
}
#s2t2 span{ line-height: 30px; }

#s2i5{ position: absolute; left: 337px; top: 19px; }
#s2t5{
    width: 913px; height: 179px;
    left: 68px; top: 373px;
    line-height: 160px;
    background: url(../images/slider/txtbg4.png) no-repeat 50% 50%;
}
#s2t5 span{ line-height: 28px; }

/*******************************  Slider Page 3  *******************************/
#sliderPage_3{ background: url(../images/bgspg1.png) no-repeat center center; }

#s3i1{ position: absolute; left: 320px; top: 0px; }
#s3t1{
    width: 713px; height: 139px;
    left: 168px; top: 370px;
    line-height: 130px;
    background: url(../images/slider/txtbg1.png) no-repeat 50% 50%;
}
#s3t1 span{ line-height: 32px; }


#s3i2{ position: absolute; left: 360px; top: 90px; }
#s3t2{
    width: 713px; height: 139px;
    left: 168px; top: 370px;
    line-height: 130px;
    background: url(../images/slider/txtbg1.png) no-repeat 50% 50%;
}
#s3t2 span{ line-height: 32px; }

#s3i3{ position: absolute; left: 360px; top: 90px; }
#s3t3{
    width: 713px; height: 139px;
    left: 168px; top: 370px;
    line-height: 130px;
    background: url(../images/slider/txtbg1.png) no-repeat 50% 50%;
}
#s3t3 span{ line-height: 32px; }

#s3i4{ position: absolute; left: 400px; top: 80px; }
#s3t4{
    width: 713px; height: 139px;
    left: 168px; top: 370px;
    line-height: 130px;
    background: url(../images/slider/txtbg1.png) no-repeat 50% 50%;
}
#s3t4 span{ line-height: 32px; }

#s3i5{ position: absolute; left: 290px; top: 0px; }
#s3t5{
    width: 913px; height: 179px;
    left: 68px; top: 353px;
    line-height: 160px;
    background: url(../images/slider/txtbg4.png) no-repeat 50% 50%;
}
#s3t5 span{ line-height: 32px; }

#s3i6{ position: absolute; left: 300px; top: 10px; }
#s3t6{
    width: 713px; height: 139px;
    left: 168px; top: 370px;
    line-height: 130px;
    background: url(../images/slider/txtbg1.png) no-repeat 50% 50%;
}
#s3t6 span{ line-height: 32px; }

#s3i7{ position: absolute; left: 290px; top: 10px; }
#s3t7{
    width: 713px; height: 139px;
    left: 168px; top: 370px;
    line-height: 130px;
    background: url(../images/slider/txtbg1.png) no-repeat 50% 50%;
}
#s3t7 span{ line-height: 32px; }

#s3i8{ position: absolute; left: 230px; top: 0px; }
#s3t8{
    width: 713px; height: 139px;
    left: 168px; top: 370px;
    line-height: 130px;
    background: url(../images/slider/txtbg1.png) no-repeat 50% 50%;
}
#s3t8 span{ line-height: 32px; }

#s3i9{ position: absolute; left: 310px; top: 0px; }
#s3t9{
    width: 713px; height: 139px;
    left: 168px; top: 370px;
    line-height: 130px;
    background: url(../images/slider/txtbg1.png) no-repeat 50% 50%;
}
#s3t9 span{ line-height: 32px; }

#s3i10{ position: absolute; left: 310px; top: 10px; }
#s3t10{
    width: 713px; height: 139px;
    left: 168px; top: 370px;
    line-height: 130px;
    background: url(../images/slider/txtbg1.png) no-repeat 50% 50%;
}
#s3t10 span{ line-height: 32px; }
/*******************************  Slider Page 4  *******************************/
#sliderPage_4{ background: url(../images/bgspg1.png) no-repeat center center; }

#s4i1{ position: absolute; left: 397px; top: 110px; }
#s4t1{
    width: 713px; height: 159px;
    left: 168px; top: 363px;
    line-height: 145px;
    background: url(../images/slider/txtbg2.png) no-repeat 50% 50%;
}
#s4t1 span{ line-height: 28px; }

#s4i2{ position: absolute; left: 273px; top: 70px; }
#s4t2{
    width: 713px; height: 139px;
    left: 168px; top: 370px;
    line-height: 130px;
    background: url(../images/slider/txtbg1.png) no-repeat 50% 50%;
}
#s4t2 span{ line-height: 30px; }

#s4i3{ position: absolute; left: 300px; top: 0px; }
#s4t3{
    width: 713px; height: 139px;
    left: 168px; top: 370px;
    line-height: 130px;
    background: url(../images/slider/txtbg1.png) no-repeat 50% 50%;
}
#s4t3 span{ line-height: 30px; }

.btnVolver{
    position: absolute; display: none;
    width: 200px; height: 44px;
    left: 1050px; bottom: 10px;
    background: url(../images/btnVolver.svg) no-repeat 50% 50%;
    cursor: pointer;
}
/*******************************************************************************/