@charset "utf-8";
/*********************************  Power Ups  *********************************/
.powerUp{}
.powerUp1{
    position:absolute; z-index:1; 
    width:70px; height:70px;
    background-color: rgba(132, 82, 82, 0);
    opacity:1;
    transition:opacity 500ms linear;
    font-size: 0px;
}
.powerUp1.hit{ opacity:0; }
#powerUp_1{   left : 1791px;
  top : 998px;
  width : 121px;
  height : 67px; 
}
#powerUp_2{ 
  left : 1402px;
  top : 1035px;
  width : 58px;
  height : 135px;
}
#powerUp_3{   
  left : 1959px;
  top : 1035px;
  width : 58px;
  height : 135px;
}
#powerUp_4{ width:20px; height:20px; left:0px; top:0px; }
#powerUp_5{ width:20px; height:20px; left:0px; top:0px; }
#powerUp_6{ width:20px; height:20px; left:0px; top:0px; }
#powerUp_7{ 
  left : 2595px;
  top : 1866px;
  width : 138px;
  height : 63px;
}
#powerUp_8{ 
  left : 1232px;
  top : 1795px;
  width : 131px;
  height : 82px;
}
#powerUp_9{ 
  left : 1667px;
  top : 2109px;
  width : 121px;
  height : 41px;
}
#powerUp_10{ 
  left : 526px;
  top : 1438px;
  width : 58px;
  height : 135px;
}
#powerUp_11{
  left : 2035px;
  top : 1770px;
  width : 67px;
  height : 132px;
}
#powerUp_12{ 
  left : 591px;
  top : 1916px;
  width : 134px;
  height : 65px;
}
#powerUp_13{ width:20px; height:20px; left:0px; top:0px; }

/*******************************************************************************/
.icoPel{
    position:absolute;
    background-color: rgba(255,0,0,0);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#icoPel_1{   
  left : 1783px;
  top : 816px;
  width : 136px;
  height : 226px;
  z-index: 101;
  background-image:url(../images/mapa/preguntas.svg); 
}
#icoPel_2{ 
  left : 1780px;
  top : 1100px;
  width : 129px;
  height : 130px;
  z-index: 122;
    background-image:url(../images/mapa/arbolito.svg); }
#icoPel_3{ 
  left : 1994px;
  top : 925px;
  width : 555px;
  height : 535px;
  z-index: 125;
    background-image:url(../images/mapa/twinbuild.svg); }
#icoPel_4{ 
  left : 1538px;
  top : 1279px;
  width : 371px;
  height : 89px;
  z-index: 132;
    background-image:url(../images/mapa/asientoback.svg); }
#icoPel_5{ 
  left : 1619px;
  top : 1390px;
  width : 203px;
  height : 176px; 
  z-index: 141;   
    background-image:url(../images/mapa/fuente.svg); }

.fuenteMC{
  width: 230px; height: 204px;
  position: absolute;
  top: -25px; left: -15px;
  background: url(../images/mapa/animacionesfuente.png) no-repeat;
  animation: moveX 1s steps(16) infinite;
}
@keyframes moveX{
  from{background-position-x:0px;}
  to{background-position-x:-3680px;}
}
#icoPel_6{ 
  left : 1538px;
  top : 1583px;
  width : 371px;
  height : 81px; 
  z-index: 162;   
    background-image:url(../images/mapa/asiento_front.svg); }
#icoPel_7{ 
  left : 2553px;
  top : 1840px;
  width : 243px;
  height : 361px; 
  z-index: 191;  
    background-image:url(../images/mapa/gim.svg); }
#icoPel_8{ 
  left : 1234px;
  top : 1751px;
  width : 104px;
  height : 101px;  
  z-index: 183;  
    background-image:url(../images/mapa/not1.svg); }
#icoPel_9{ 
  left : 1672px;
  top : 2046px;
  width : 104px;
  height : 101px; 
  z-index: 220;   
    background-image:url(../images/mapa/not2.svg); }
#icoPel_10{ 
  left : 91px;
  top : 1171px;
  width : 437px;
  height : 468px;    
  z-index: 100;  
    background-image:url(../images/mapa/bomber.svg); }
#icoPel_11{ 
  left : 2071px;
  top : 1543px;
  width : 400px;
  height : 666px;
  z-index: 200; 
    background-image:url(../images/mapa/museo.svg); }
#icoPel_12{ 
  left : 486px;
  top : 1835px;
  width : 461px;
  height : 377px;
  z-index: 199;   
    background-image:url(../images/mapa/cient.svg); }
#icoPel_13{ 
  left : 719px;
  top : 1426px;
  width : 167px;
  height : 500px; 
  z-index: 155; 
    background-image:url(../images/mapa/buildcent.svg); }

/* #icoPel_11{ 
    background-image:url(../images/mapa/peligro11.png); } */

.icoPrev{
    position:absolute;
    background-color: rgba(0,255,0,0);
    background-repeat: no-repeat;
    /* background-position: 50% 50%; */
}
#icoPrev_1{   
  left : 1350px;
  top : 824px;
  width : 69px;
  height : 87px;
  z-index: 4;
   background-image:url(../images/people/mad1.png); 
  animation: moveX_Mad1 3s steps(23) infinite;
 }

@keyframes moveX_Mad1{
  from{background-position-x:0px;}
  to{background-position-x:-1587px;}
}
#icoPrev_2{ 
  left : 1385px;
  top : 864px;
  width : 67px;
  height : 41px;
  background-image:url(../images/people/table.svg); }
#icoPrev_3{ 
  left : 1448px;
  top : 842px;
  width : 52px;
  height : 80px;
  background-image:url(../images/people/mad2.png); 
  animation: moveX_Mad2 3s steps(23) infinite;
}
@keyframes moveX_Mad2{
  from{background-position-x:0px;}
  to{background-position-x:-1196px;}
}
#icoPrev_4{ 
  left : 675px;
  top : 778px;
  width : 27px;
  height : 65px;
  background-image:url(../images/people/pep1.svg); }
#icoPrev_5{ 
  left : 918px;
  top : 973px;
  width : 29px;
  height : 62px;
  background-image:url(../images/people/pep2.svg); }
#icoPrev_6{ 
  left : 1331px;
  top : 1029px;
  width : 41px;
  height : 82px;
  background-image:url(../images/people/pep3.svg); }
#icoPrev_7{ 
  left : 1783px;
  top : 2062px;
  width : 29px;
  height : 62px;
  background-image:url(../images/people/pep4.svg); }
#icoPrev_8{ 
  left : 2644px;
  top : 1015px;
  width : 32px;
  height : 77px;
  background-image:url(../images/people/pep5.svg); }
#icoPrev_9{ 
  left : 1553px;
  top : 1309px;
  width : 29px;
  height : 58px;
  z-index: 135;
  background-image:url(../images/people/pep6.svg); }
#icoPrev_10{ 
  left : 1833px;
  top : 1307px;
  width : 29px;
  height : 59px;
  z-index: 135;
  background-image:url(../images/people/pep7.svg); }
#icoPrev_11{ 
  left : 1873px;
  top : 1307px;
  width : 30px;
  height : 58px;
  z-index: 135;
  background-image:url(../images/people/pep8.svg); }
#icoPrev_12{ 
  left : 2027px;
  top : 1240px;
  width : 31px;
  height : 59px;
  z-index: 200;
  background-image:url(../images/people/pep9.svg); }
#icoPrev_13{ 
  left : 2494px;
  top : 1253px;
  width : 29px;
  height : 58px;
  z-index: 200;
  background-image:url(../images/people/pep10.svg); }
#icoPrev_14{ 
  left : 2873px;
  top : 1157px;
  width : 30px;
  height : 65px;
  z-index: 200;
  background-image:url(../images/people/pep11.svg); }
#icoPrev_15{ 
  left : 3178px;
  top : 1092px;
  width : 29px;
  height : 57px;
  z-index: 200;
  background-image:url(../images/people/pep12.svg); }
#icoPrev_16{ 
  left : 1367px;
  top : 2018px;
  width : 31px;
  height : 66px;
  z-index: 200;
  background-image:url(../images/people/pep13.svg); }
#icoPrev_17{ 
  left : 2600px;
  top : 2112px;
  width : 30px;
  height : 59px;
  z-index: 200;
  background-image:url(../images/people/pep14.svg); }
#icoPrev_18{ 
  left : 2733px;
  top : 2112px;
  width : 30px;
  height : 59px;
  z-index: 200;
  background-image:url(../images/people/pep15.svg); }

#icoPrev_20{ 
  left : 1273px;
  top : 1785px;
  width : 29px;
  height : 69px;
  z-index: 200;
  background-image:url(../images/people/pep16.svg); }
#icoPrev_21{ 
  left : 637px;
  top : 1020px;
  width : 29px;
  height : 69px;  
  z-index: 2;
  background-image:url(../images/people/pep16.svg); }

#icoPrev_19 {
  left : 1820px;
  top : 937px;
  width : 59px;
  height : 71px;
  display: inline-block;
  z-index: 102;
  background-image:url(../images/people/Dayang.png); 
  animation: moveX_Day1 3s steps(23) infinite;
 }

@keyframes moveX_Day1{
  from{background-position-x:0px;}
  to{background-position-x:-1357px;}
}

/**********************************  Paredes  **********************************/
.ParedMask{ position:absolute; left:0px; top:0px; width:50px; height:50px; display:none; }
.fondoOPC{ position:absolute; top:0px; left:0px; z-index:1; display:none; }
/***********************************  Player  ***********************************/
#Player_1{
    position:absolute;
    width:25px; height:20px;
    z-index:2;
    background-color: rgba(132, 82, 82, 0);
}
#Player_1 .sprite{
    position:absolute;
    width:120px; height:120px;
    left:-50px; bottom:0px;
    background-position:0px 0px;
    background-color: rgba(250,0,0,0);
}
.playerF .sprite{ background-image: url(../images/mapa/sprite_F.png); }
.playerM .sprite{ background-image: url(../images/mapa/sprite_M.png); }
.avOF .sprite{ background-image: url(../images/sprite1_F.png); }
.avOM .sprite{ background-image: url(../images/sprite1_M.png); }
.avPF .sprite{ background-image: url(../images/sprite2_F.png); }
.avPM .sprite{ background-image: url(../images/sprite2_M.png); }
.avRF .sprite{ background-image: url(../images/sprite3_F.png); }
.avRM .sprite{ background-image: url(../images/sprite3_M.png); }
.avDF .sprite{ background-image: url(../images/sprite4_F.png); }
.avDM .sprite{ background-image: url(../images/sprite4_M.png); }


#Player_1 .ptje{
    position:absolute; display:none;
    width:99px; height:91px;
    left: -110px; top: -165px;
    background: rgba(250,0,0,0) url(../images/alert.png) no-repeat 50% 50%;
    cursor: pointer;
    z-index: 200;
}
/*************************  Objetos por cada escenario  *************************/
.conteo{
    position:absolute;
    background-repeat:no-repeat;
    background-position:center center;
    display: none;
}
#gameArea1{
    position:absolute;
    width:3403px; height:2293px;
    left:0px; top:0px;
    background:url(../images/mapa/city.svg) no-repeat;
    overflow:hidden;
}
/*******************************************************************************/
.anim{
  position : absolute ;
  left: 132px;
  top: 56px;
  width : 25px;
  height : 27px; 
  background:url(../images/UI/ligts.svg) no-repeat;
  cursor: pointer;
}
#topBar{
  position : absolute ;
  left : 1186px;
  top : 110px;
  width : 287px;
  height : 147px;  
  background:url(../images/UI/cont_avatar.svg) no-repeat;
  -webkit-transition: All 0.4s cubic-bezier(.31,.11,.42,1);
  -moz-transition: All 0.4s cubic-bezier(.31,.11,.42,1);
  -o-transition: All 0.4s cubic-bezier(.31,.11,.42,1);
  transition: All 0.4s cubic-bezier(.31,.11,.42,1);
}
.animPers{
 left: 1064px !important; 
}

#botBar{
  position : absolute ;
  left : 1175px;
  top : 270px;
  width : 178px;
  height : 256px; 
  background:url(../images/UI/statusPlayer.svg) no-repeat;
}
#i4avatar{
    position: absolute;
    width: 114px; height: 107px;
    left: 9px; top: 16px;
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.av_OF #i4avatar{ background-image: url(../images/i3avOF.png); }
.av_OM #i4avatar{ background-image: url(../images/i3avOM.png); }
.av_PF #i4avatar{ background-image: url(../images/i3avPF.png); }
.av_PM #i4avatar{ background-image: url(../images/i3avPM.png); }
.av_RF #i4avatar{ background-image: url(../images/i3avRF.png); }
.av_RM #i4avatar{ background-image: url(../images/i3avRM.png); }
.av_DF #i4avatar{ background-image: url(../images/i3avDF.png); }
.av_DM #i4avatar{ background-image: url(../images/i3avDM.png); }
.i4txt{
    position: absolute;
    width: 160px;
    top: 295px;
    font-family: 'CatalogoGruesa';
    line-height: 50px;
    color: #ff3650;
    text-align: center;
    background: rgba(0,0,0,0);
}
#i4RazonSocial{ 
    left: 52px;
    top: 95px;
    width: 120px;
    font-size: 14px;
}
/* #i4Nivel{ left: 343px; font-size: 39px; } */
#i4Puntaje{ 
    left: 73px;
    top: 140px;
    width: 100px;
    font-size: 22px; 
}
#i4Estrellas{ 
    left: 94px;
    top: 182px;
    width: 58px;
    font-size: 22px;
}
#i4Nombre{
    position: absolute;
    width: 117px;
    left: 164px;
    top: 42px;
    font-family: 'CatalogoGruesa';
    font-size: 14px;
    line-height: 15px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}
#i4Logout{
    position: absolute;
    width: 95px;
    height: 35px;
    left: 176px;
    top: 108px;
    font-family: 'Catalogo';
    font-size: 17px;
    line-height: 33px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: url(../images/UI/closeSetion.png) no-repeat 0px 0px;
}
#i4Logout:hover{    
  background: url(../images/UI/closeSetion.png) no-repeat -97px 0px; 
}
#i4Buzon{
    position: absolute;
    width: 189px; height: 116px;
    left: 39px; top: 291px;
    background: url(../images/popups/i4buzon.png) no-repeat 50% 0%;
    cursor: pointer;
}



/*******************************************************************************/
/**********************************  Popups  **********************************/
/*******************************************************************************/
.clearfix:before,.clearfix:after{
    content: '\0020';
    display: block; clear: both;
    width: 0; height: 0;
    visibility: hidden;
    overflow: hidden;
}
.clearfix{ zoom: 1; }
.popup{
    position: absolute; display: none;
    width: 100%; height: 100%;
    left: 0; top: 0;
    background: rgba(0,0,0,0.7);
    overflow-y: scroll;
}
.popup form{
    position: absolute;
    left : 446px;
    top : 109px;
    width : 470px;
    height : 487px;
    background: rgba(0,0,0,0)  url(../images/formulario/formulario.png) no-repeat;
}

/*******************************  Popup Buzon  *******************************/
#pop2txt1{
    padding: 50px 42px 30px;
    font-family: "Catalogo";
    font-size: 16px;
    line-height: normal;
    color: #ffffff;
    text-align: center;
}
#pop2ta{
    display: block;
    position: absolute;
    top: 149px;
    left: 37px;
    width: 378px;
    resize: none;
    height: 204px;
    padding: 19px 10px;
    font-family: "Catalogo";
    font-size: 17px;
    line-height: 20px;
    color: #333745;
    background-color: #ffffff;
    border-radius: 35px;
    outline: none;
}
#pop2ta.error{ border:2px solid #ff0000; color: #ff0000; }
#pop2txt2{
    position: absolute;
    top: 436px;
    padding: 0 40px 20px;
    font-family: "Catalogo";
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    text-align: center;
}
#pop2sub{
    position: absolute;
    left: 155px;
    top: 378px;
    width: 174px;
    height: 45px;
    outline: none;
    border: none;
  background: rgba(0,0,0,0)  url(../images/formulario/enviar.png) no-repeat 50% 50%;
  cursor:pointer;
}
#pop2close{
  position: absolute;
    left: 433px;
    top: -15px;
  width : 51px;
  height : 51px;
  background: rgba(0,0,0,0)  url(../images/formulario/cerrar.png) no-repeat 50% 50%;
  background-size: contain;
  cursor:pointer;
}
/*******************************  Nivel PopUp Content Prevencion  *********************************/

.i4Nivel{
    position: absolute;
    width: 157px; height: 119px;
    top: 564px;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
}
.i4Nivel.disable{
    background-position: 0px -119px;
    pointer-events: none;
}
#i4Cuestionario{
    position: absolute;
    width: 190px; height: 77px;
    left: 1140px; top: 250px;
    text-decoration: none;
    background: rgba(0,0,0,0) url(../images/i4Cuestionario.png) no-repeat 50% 50%;
    cursor: pointer;
}
#i4Certificado{
    position: absolute;
    width: 190px; height: 90px;
    left: 50px; top: 40px;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    background-image: url(../images/i4Certificado.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
}
#i4Certificado.disable{
    background-position: 0px -90px;
    pointer-events: none;
    opacity: 0.7;
}

#i4Nivel_1{ left: 22px; background-image: url(../images/i4nivel_1.png); }
#i4Nivel_2{ left: 165px; background-image: url(../images/i4nivel_2.png); }
#i4Nivel_3{ left: 309px; background-image: url(../images/i4nivel_3.png); }
#i4Nivel_4{ left: 453px; background-image: url(../images/i4nivel_4.png); }


/*******************************************************************************/
/************  PopUp Genericos  ************/

.CV_btn2{
    background : -moz-linear-gradient(49.61% -50.26% -89.14deg,rgba(179, 179, 179, 1) 40.29%,rgba(51, 51, 51, 1) 93.48%);
    background : -webkit-linear-gradient(-89.14deg, rgba(179, 179, 179, 1) 40.29%, rgba(51, 51, 51, 1) 93.48%);
    background : -webkit-gradient(linear,49.61% -50.26% ,50.24% 111.19% ,color-stop(0.4029,rgba(179, 179, 179, 1) ),color-stop(0.9348,rgba(51, 51, 51, 1) ));
    background : -o-linear-gradient(-89.14deg, rgba(179, 179, 179, 1) 40.29%, rgba(51, 51, 51, 1) 93.48%);
    background : -ms-linear-gradient(-89.14deg, rgba(179, 179, 179, 1) 40.29%, rgba(51, 51, 51, 1) 93.48%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3B3B3', endColorstr='#333333' ,GradientType=0)";
    background : linear-gradient(179.14deg, rgba(179, 179, 179, 1) 40.29%, rgba(51, 51, 51, 1) 93.48%);
    position : absolute ;
    left: 1130px;
    top: 20px;
    width : 191px;
    height : 50px;
    border-radius : 24px;
    -moz-border-radius : 24px;
    -webkit-border-radius : 24px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3B3B3',endColorstr='#333333' , GradientType=1);
    font-size: 27px;
    line-height: 50px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
    cursor: pointer;
}
.CV_btn1{
    background : -moz-linear-gradient(49.61% -50.26% -89.14deg,rgba(179, 179, 179, 1) 40.29%,rgba(51, 51, 51, 1) 93.48%);
    background : -webkit-linear-gradient(-89.14deg, rgba(179, 179, 179, 1) 40.29%, rgba(51, 51, 51, 1) 93.48%);
    background : -webkit-gradient(linear,49.61% -50.26% ,50.24% 111.19% ,color-stop(0.4029,rgba(179, 179, 179, 1) ),color-stop(0.9348,rgba(51, 51, 51, 1) ));
    background : -o-linear-gradient(-89.14deg, rgba(179, 179, 179, 1) 40.29%, rgba(51, 51, 51, 1) 93.48%);
    background : -ms-linear-gradient(-89.14deg, rgba(179, 179, 179, 1) 40.29%, rgba(51, 51, 51, 1) 93.48%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3B3B3', endColorstr='#333333' ,GradientType=0)";
    background : linear-gradient(179.14deg, rgba(179, 179, 179, 1) 40.29%, rgba(51, 51, 51, 1) 93.48%);
    position : absolute ;
    left: 570px;
    top: 540px;
    width : 191px;
    height : 50px;
    border-radius : 24px;
    -moz-border-radius : 24px;
    -webkit-border-radius : 24px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3B3B3',endColorstr='#333333' , GradientType=1);
    font-size: 27px;
    line-height: 55px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
    cursor: pointer;
}
.textCent{
    width: 541px;
    top: 210px;
    left: 120px;
    font-size: 25px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;
    font-family: 'CatalogoGruesa';
    text-transform: uppercase;
    position: absolute;
}
.ayuda_MC{
    width: 541px;
    top: 96px;
    left: 167px;
    font-size: 35px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;
    font-family: 'Bebas';
    text-transform: uppercase;
    position: absolute;
}

/**********  PopUp0  ************/

.pop_restring{
    background: url(../images/popups/restringido.svg) no-repeat;
    position : absolute ;
    left : 222px;
    top : 105px;
    width : 970px;
    height : 624px;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
}

/**********  PopUp1  ************/

.opcAyuda{
    background: url(../images/popups/restringido.svg) no-repeat;
    position : absolute ;
    left : 222px;
    top : 105px;
    width : 970px;
    height : 624px;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
}

.aceptaCd{
    background : -moz-linear-gradient(49.61% -50.26% -89.14deg,rgba(179, 179, 179, 1) 40.29%,rgba(51, 51, 51, 1) 93.48%);
    background : -webkit-linear-gradient(-89.14deg, rgba(179, 179, 179, 1) 40.29%, rgba(51, 51, 51, 1) 93.48%);
    background : -webkit-gradient(linear,49.61% -50.26% ,50.24% 111.19% ,color-stop(0.4029,rgba(179, 179, 179, 1) ),color-stop(0.9348,rgba(51, 51, 51, 1) ));
    background : -o-linear-gradient(-89.14deg, rgba(179, 179, 179, 1) 40.29%, rgba(51, 51, 51, 1) 93.48%);
    background : -ms-linear-gradient(-89.14deg, rgba(179, 179, 179, 1) 40.29%, rgba(51, 51, 51, 1) 93.48%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3B3B3', endColorstr='#333333' ,GradientType=0)";
    background : linear-gradient(179.14deg, rgba(179, 179, 179, 1) 40.29%, rgba(51, 51, 51, 1) 93.48%);
    position : absolute ;
    left : 577px;
    top : 515px;
    width : 191px;
    height : 50px;
    border-radius : 24px;
    -moz-border-radius : 24px;
    -webkit-border-radius : 24px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3B3B3',endColorstr='#333333' , GradientType=1);
    font-size: 27px;
    line-height: 46px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
    cursor: pointer;
}

/**********  PopUp2  ************/
.drivers{
    background: url(../images/popups/driver.svg) no-repeat;
    position : absolute ;
    left : 222px;
    top : 105px;
    width : 970px;
    height : 624px;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
}


/**********  PopUp3  ************/
.prevencion{
    background: url(../images/popups/prevencion.svg) no-repeat;
    position : absolute ;
    left : 222px;
    top : 105px;
    width : 970px;
    height : 624px;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
}




/**********  PopUp7  ************/
.pausas{
    background: url(../images/popups/pausas.svg) no-repeat;
    position : absolute ;
    left : 222px;
    top : 105px;
    width : 970px;
    height : 624px;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
}


/**********  PopUp8  ************/
.pop_restring1{
    background: url(../images/popups/restringido.svg) no-repeat;
    position : absolute ;
    left : 222px;
    top : 105px;
    width : 970px;
    height : 624px;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
}


/**********  PopUp9  ************/

.pop_restring2{
    background: url(../images/popups/restringido.svg) no-repeat;
    position : absolute ;
    left : 222px;
    top : 105px;
    width : 970px;
    height : 624px;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
}

/**********  PopUp10  ************/
.auxilio{
    background: url(../images/popups/emergencia.svg) no-repeat;
    position : absolute ;
    left : 222px;
    top : 105px;
    width : 970px;
    height : 624px;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
}



/**********  PopUp11  ************/
.museo{
    background: url(../images/popups/museo.svg) no-repeat;
    position : absolute ;
    left : 222px;
    top : 105px;
    width : 970px;
    height : 624px;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
}



/**********  PopUp12  ************/

.quimica{
    background: url(../images/popups/quimicos.svg) no-repeat;
    position : absolute ;
    left : 222px;
    top : 105px;
    width : 970px;
    height : 624px;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
}























