@charset "utf-8";
/*********************************  Power Ups  *********************************/
.powerUp{}
.powerUp1{
    position:absolute; z-index:1; 
    width:70px; height:70px;
    background-color: rgba(132, 82, 82, 0);
    opacity:1;
    transition:opacity 500ms linear;
    font-size: 0px;
}
.powerUp1.hit{ opacity:0; }
#powerUp_1{   left : 1791px;
  top : 998px;
  width : 121px;
  height : 67px; 
}
#powerUp_2{ 
  left : 1402px;
  top : 1035px;
  width : 58px;
  height : 135px;
}
#powerUp_3{   
  left : 1959px;
  top : 1035px;
  width : 58px;
  height : 135px;
}
#powerUp_4{ width:20px; height:20px; left:0px; top:0px; }
#powerUp_5{ width:20px; height:20px; left:0px; top:0px; }
#powerUp_6{ width:20px; height:20px; left:0px; top:0px; }
#powerUp_7{ 
  left : 2595px;
  top : 1866px;
  width : 138px;
  height : 63px;
}
#powerUp_8{ 
  left : 590px;
  top : 1135px;
  width : 135px;
  height : 58px;
}
#powerUp_9{ 
  left : 1659px;
  top : 1907px;
  width : 131px;
  height : 82px;
}
#powerUp_10{ 
  left : 526px;
  top : 1438px;
  width : 58px;
  height : 135px;
}
#powerUp_11{
  left : 2035px;
  top : 1770px;
  width : 67px;
  height : 132px;
}
#powerUp_12{ 
  left : 591px;
  top : 1916px;
  width : 134px;
  height : 65px;
}
#powerUp_13{   
  left : 2734px;
  top : 1394px;
  width : 121px;
  height : 67px;
}
#powerUp_14{   
  left : 732px;
  top : 1394px;
  width : 121px;
  height : 67px; 
}
#powerUp_15{     
  left : 2440px;
  top : 1443px;
  width : 38px;
  height : 19px; 
}
#powerUp_16{     
  left : 1138px;
  top : 1443px;
  width : 38px;
  height : 19px; 
}
#powerUp_17{     
  left : 1663px;
  top : 1165px;
  width : 127px;
  height : 42px; 
}
/*******************************************************************************/
.icoPel{
    position:absolute;
    background-color: rgba(255,0,0,0);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#icoPel_1{   
  left : 1783px;
  top : 816px;
  width : 136px;
  height : 226px;
  z-index: 101;
  background-image:url(../images/mapa/preguntas.svg); 
}
#icoPel_2{ 
  left : 1780px;
  top : 1150px;
  width : 129px;
  height : 130px;
  z-index: 122;
    background-image:url(../images/mapa/arbolito.svg); }
#icoPel_3{ 
  left : 1994px;
  top : 925px;
  width : 555px;
  height : 535px;
  z-index: 125;
    background-image:url(../images/mapa/twinbuild.png); }
#icoPel_4{ 
  left : 1538px;
  top : 1279px;
  width : 371px;
  height : 89px;
  z-index: 132;
    background-image:url(../images/mapa/asientoback.svg); }
#icoPel_5{ 
  left : 1619px;
  top : 1390px;
  width : 203px;
  height : 176px; 
  z-index: 141;   
    background-image:url(../images/mapa/fuente.svg); }

.fuenteMC{
  width: 230px; height: 204px;
  position: absolute;
  top: -25px; left: -15px;
  background: url(../images/mapa/animacionesfuente.png) no-repeat;
  animation: moveX 1s steps(16) infinite;
}
@keyframes moveX{
  from{background-position-x:0px;}
  to{background-position-x:-3680px;}
}
#icoPel_6{ 
  left : 1538px;
  top : 1583px;
  width : 371px;
  height : 81px; 
  z-index: 162;   
    background-image:url(../images/mapa/asiento_front.svg); }
#icoPel_7{ 
  left : 2553px;
  top : 1906px;
  width : 243px;
  height : 290px;
  z-index: 195;  
    background-image:url(../images/mapa/gim.png); }
#icoPel_8{ 
  left : 1234px;
  top : 1751px;
  width : 104px;
  height : 101px;  
  z-index: 183;  
    background-image:url(../images/mapa/not1.svg); }
#icoPel_9{ 
  left : 1352px;
  top : 1820px;
  width : 722px;
  height : 448px; 
  z-index: 220;   
    background-image:url(../images/mapa/emergencia.svg); }
#icoPel_10{ 

  left : 60px;
  top : 1174px;
  width : 421px;
  height : 455px;
  /* left : 91px;
  top : 1171px;
  width : 437px;
  height : 468px;     */
  z-index: 100;  
    background-image:url(../images/mapa/bomber.svg); }
#icoPel_11{ 
  left : 2067px;
  top : 1529px;
  width : 405px;
  height : 680px;
  z-index: 200; 
    background-image:url(../images/mapa/museo.png); }
#icoPel_12{ 
  left : 486px;
  top : 1835px;
  width : 461px;
  height : 377px;
  z-index: 199;   
    background-image:url(../images/mapa/cient.svg); }

#icoPel_13{ 
  left : 724px;
  top : 1212px;
  width : 136px;
  height : 226px;
  z-index: 101;
  background-image:url(../images/mapa/preguntas.svg); }
#icoPel_14{ 
  left : 2727px;
  top : 1213px;
  width : 136px;
  height : 226px;
  z-index: 101;
  background-image:url(../images/mapa/preguntas.svg); }

#icoPel_15{ 
  left : 1673px;
  top : 1082px;
  width : 106px;
  height : 102px;
  z-index: 120;
  background-image:url(../images/mapa/detenflechas.png); }
/* #icoPel_11{ 
    background-image:url(../images/mapa/peligro11.png); } */

#icoPel_16{ 
  left : 490px;
  top : 625px;
  width : 402px;
  height : 504px;
  z-index: 90;
  background-image:url(../images/mapa/extintores.svg); }

.icoPrev{
    position:absolute;
    background-color: rgba(0,255,0,0);
    background-repeat: no-repeat;
    /* background-position: 50% 50%; */
}
#icoPrev_1{   
  left : 1350px;
  top : 824px;
  width : 69px;
  height : 87px;
  z-index: 4;
   background-image:url(../images/people/mad1.png); 
  animation: moveX_Mad1 3s steps(23) infinite;
 }

@keyframes moveX_Mad1{
  from{background-position-x:0px;}
  to{background-position-x:-1587px;}
}
#icoPrev_2{ 
  left : 1385px;
  top : 864px;
  width : 67px;
  height : 41px;
  background-image:url(../images/people/table.svg); }
#icoPrev_3{ 
  left : 1448px;
  top : 842px;
  width : 52px;
  height : 80px;
  background-image:url(../images/people/mad2.png); 
  animation: moveX_Mad2 3s steps(23) infinite;
}
@keyframes moveX_Mad2{
  from{background-position-x:0px;}
  to{background-position-x:-1196px;}
}
#icoPrev_4{ 
  left : 675px;
  top : 778px;
  width : 27px;
  height : 65px;
  background-image:url(../images/people/pep1.svg); }
#icoPrev_5{ 
  left : 1808px;
  top : 1685px;
  width : 108px;
  height : 101px;
  z-index: 170;
  background:url(../images/mapa/emerg.svg) no-repeat 50% 50%;
} 
#icoPrev_6{ 
  left : 1331px;
  top : 1029px;
  width : 41px;
  height : 82px;
  background-image:url(../images/people/pep3.svg); }
/* #icoPrev_7{ 
  left : 1783px;
  top : 2062px;
  width : 29px;
  height : 62px;
  background-image:url(../images/people/pep4.svg); } */
#icoPrev_8{ 
  left : 2644px;
  top : 1015px;
  width : 32px;
  height : 77px;
  background-image:url(../images/people/pep5.svg); }
#icoPrev_9{ 
  left : 1553px;
  top : 1309px;
  width : 29px;
  height : 58px;
  z-index: 135;
  background-image:url(../images/people/pep6.svg); }
#icoPrev_10{ 
  left : 1833px;
  top : 1307px;
  width : 29px;
  height : 59px;
  z-index: 135;
  background-image:url(../images/people/pep7.svg); }
#icoPrev_11{ 
  left : 1873px;
  top : 1307px;
  width : 30px;
  height : 58px;
  z-index: 135;
  background-image:url(../images/people/pep8.svg); }
#icoPrev_12{ 
  left : 2027px;
  top : 1240px;
  width : 31px;
  height : 59px;
  z-index: 200;
  background-image:url(../images/people/pep9.svg); }
#icoPrev_13{ 
  left : 2494px;
  top : 1253px;
  width : 29px;
  height : 58px;
  z-index: 130;
  background-image:url(../images/people/pep10.svg); }
#icoPrev_14{ 
  left : 2873px;
  top : 1157px;
  width : 30px;
  height : 65px;
  z-index: 200;
  background-image:url(../images/people/pep11.svg); }
#icoPrev_15{ 
  left : 3178px;
  top : 1092px;
  width : 29px;
  height : 57px;
  z-index: 200;
  background-image:url(../images/people/pep12.svg); }
/* #icoPrev_16{ 
  left : 1367px;
  top : 2018px;
  width : 31px;
  height : 66px;
  z-index: 200;
  background-image:url(../images/people/pep13.svg); } */
#icoPrev_17{ 
  left : 2600px;
  top : 2142px;
  width : 30px;
  height : 59px;
  z-index: 200;
  background-image:url(../images/people/pep14.svg); }
#icoPrev_18{ 
  left : 2733px;
  top : 2142px;
  width : 30px;
  height : 59px;
  z-index: 200;
  background-image:url(../images/people/pep15.svg); }

#icoPrev_20{ 
  left : 1273px;
  top : 1785px;
  width : 29px;
  height : 69px;
  z-index: 200;
  background-image:url(../images/people/pep16.svg); }
#icoPrev_21{ 
  left : 637px;
  top : 1020px;
  width : 29px;
  height : 69px;  
  z-index: 2;
  background-image:url(../images/people/pep16.svg); }

#icoPrev_22{ 
  left : 1914px;
  top : 1004px;
  width : 47px;
  height : 44px; 
  z-index: 2;
  background:url(../images/gif/gatito2.gif) no-repeat 50% 50%;
  background-size: contain;
}
.touchIsOn #icoPrev_22{  background:url() no-repeat 50% 50%; }


#icoPrev_23{ 
  left : 1581px;
  top : 1344px;
  width : 42px;
  height : 30px;
  z-index: 136;
  background:url(../images/gif/dog1.gif) no-repeat 50% 50%;
  background-size: contain;
}
.touchIsOn #icoPrev_23{  background:url() no-repeat 50% 50%; }

#icoPrev_24{ 
  left : 897px;
  top : 1351px;
  width : 108px;
  height : 101px;
  z-index: 114;
  background:url(../images/mapa/extintor.svg) no-repeat 50% 50%;
  background-size: contain;
}

#icoPrev_25{ 
  left : 2409px;
  top : 1419px;
  width : 24px;
  height : 27px;
  z-index: 140;
  background:url(../images/gif/gatito.gif) no-repeat 50% 50%;
  background-size: contain;
}
.touchIsOn #icoPrev_25{  background:url() no-repeat 50% 50%; }

#icoPrev_26{ 
  left : 2770px;
  top : 1328px;
  width : 59px;
  height : 71px;
  z-index: 102;
  background:url(../images/people/dayang.png);
  background-position-y: 75px;
  animation: moveX_Day1 3s steps(23) infinite;
} 
#icoPrev_27{ 
  left : 770px;
  top : 1330px;
  width : 59px;
  height : 71px;
  z-index: 102;
  background:url(../images/people/dayang.png);
  background-position-y: 75px;
  animation: moveX_Day1 3s steps(23) infinite;
}
#icoPrev_28{ 
  left : 1140px;
  top : 1381px;
  width : 36px;
  height : 72px;
  z-index: 143;
  background:url(../images/people/alcaldesa.svg);
}
.pop_alcalde
{
  background : url(../images/mapa/pop_alcaldesa.png);
  background-repeat : no-repeat;
  background-size: contain;
  position: absolute;
  left: -70px;
  top: -141px;
  width: 180px;
  height: 142px;
  font-family: 'Catalogo';
  font-size: 16px;
  line-height: 16px;
  opacity: 0;
}
.consejitos {
    position: absolute;
    padding: 10px;
    text-align: center;
}
.visibleALcalde{opacity: 1 !important;}

#icoPrev_29{ 
  left : 2442px;
  top : 1380px;
  width : 36px;
  height : 72px;
  z-index: 143;
  background:url(../images/people/alcaldesa.svg);
}
#icoPrev_30{ 
  left : 2840px;
  top : 1778px;
  width : 33px;
  height : 31px;
  z-index: 10;
  background:url(../images/gif/bird2.gif) no-repeat 50% 50%;
  background-size: contain;
}
.touchIsOn #icoPrev_30{  background:url() no-repeat 50% 50%; }

#icoPrev_31{ 
  left : 1537px;
  top : 1082px;
  width : 117px;
  height : 102px;
  z-index: 142;
  background:url(../images/mapa/drivers.png) no-repeat 50% 50%;
}
#icoPrev_32{ 
  left : 1796px;
  top : 1452px;
  width : 37px;
  height : 36px;
  z-index: 142;
  transform: rotateY(-180deg);
  background:url(../images/gif/bird2.gif) no-repeat 50% 50%;
  background-size: contain;
}
.touchIsOn #icoPrev_32{  background:url() no-repeat 50% 50%; }

#icoPrev_33{ 
  left : 1277px;
  top : 1482px;
  width : 108px;
  height : 102px;
  z-index: 160;
  background:url(../images/mapa/evancuando.png) no-repeat 50% 50%;
} 
#icoPrev_34{ 
  left : 2272px;
  top : 1482px;
  width : 106px;
  height : 102px;
  z-index: 160;
  background:url(../images/mapa/pausasactivas.png) no-repeat 50% 50%;
}
#icoPrev_35{ 
  left : 1258px;
  top : 1721px;
  width : 60px;
  height : 56px;
  z-index: 202;
  background:url(../images/gif/lucesconstruct.gif) no-repeat 50% 50%;
  background-size: contain;
}
.touchIsOn #icoPrev_35{  background:url() no-repeat 50% 50%; }

#icoPrev_36{ 
  left : 1696px;
  top : 2015px;
  width : 60px;
  height : 56px;
  z-index: 222;
  background:url(../images/gif/lucesconstruct.gif) no-repeat 50% 50%;
  background-size: contain;
}
.touchIsOn #icoPrev_36{  background:url() no-repeat 50% 50%; }

#icoPrev_37{ 
  left : 1790px;
  top : 1082px;
  width : 108px;
  height : 102px;
  z-index: 119;
  background:url(../images/mapa/expertos.png) no-repeat 50% 50%;
} 
#icoPrev_38{ 
  left : 3192px;
  top : 1373px;
  width : 60px;
  height : 56px;
  z-index: 2;
  background:url(../images/gif/lucesconstruct.gif) no-repeat 50% 50%;
  background-size: contain;
}
.touchIsOn #icoPrev_38{  background:url() no-repeat 50% 50%; }

/* #icoPrev_39{ 
  left : 974px;
  top : 1178px;
  width : 33px;
  height : 31px;
  z-index: 105;
  background:url(../images/gif/semafor.gif) no-repeat 50% 50%;
  background-size: contain;
} */
/* #icoPrev_40{ 
    left: 809px;
    top: 1715px;
    width: 90px;
    height: 221px;
    opacity: 0.7;
    z-index: 207;
  background:url(../images/gif/firewor4.gif) no-repeat 50% 50%;
  background-size: contain;
}
#icoPrev_41{ 
  left : 472px;
  top : 1690px;
  width : 69px;
  height : 71px;
  z-index: 142;
  opacity: 0.4;
  background:url(../images/gif/humo.gif) no-repeat 50% 50%;
  background-size: contain;
}
#icoPrev_42{ 
  left : 1162px;
  top : 1973px;
  width : 69px;
  height : 71px;
  z-index: 142;
  opacity: 0.4;
  background:url(../images/gif/humo.gif) no-repeat 50% 50%;
  background-size: contain;
} */
#icoPrev_43{ 
  left : 1668px;
  top : 1500px;
  width : 110px;
  height : 34px;
  z-index: 142;
  background:url(../images/gif/patitos2.gif) no-repeat 50% 50%;
  background-size: contain;
}
/* #icoPrev_44{ 
  left : 1526px;
  top : 1620px;
  width: 130px;
  height: 54px;
  z-index: 162;
  background:url(../images/gif/patitos.gif) no-repeat 50% 50%;
  background-size: contain;
} */
/* #icoPrev_45{ 
  left : 157px;
  top : 1520px;
  width : 14px;
  height : 15px;
  z-index: 142;
  background:url(../images/gif/faro2.gif) no-repeat 50% 50%;
  background-size: contain;
}
#icoPrev_46{ 
  left : 243px;
  top : 1519px;
  width : 14px;
  height : 15px;
  z-index: 142;
  background:url(../images/gif/faro2.gif) no-repeat 50% 50%;
  background-size: contain;
} */
/* #icoPrev_47{ 
  left : 421px;
  top : 1292px;
  width : 87px;
  height : 93px;
  z-index: 142;
  background:url(../images/gif/farocarro.gif) no-repeat 50% 50%;
  background-size: contain;
} */
/* #icoPrev_48{ 
  left : 368px;
  top : 1573px;
  width : 14px;
  height : 15px;
  z-index: 142;
  background:url(../images/gif/faro2.gif) no-repeat 50% 50%;
  background-size: contain;
} */
.touchIsOn #icoPrev_48{  background:url() no-repeat 50% 50%; }

#icoPrev_49{ 
  left : 819px;
  top : 1896px;
  width : 70px;
  height : 62px;
  z-index: 210;
  opacity: 0.3;
  background:url(../images/gif/humo.gif) no-repeat 50% 50%;
  background-size: contain;
}
.touchIsOn #icoPrev_49{  background:url() no-repeat 50% 50%; }


/* #icoPrev_51{ 
  left : 2588px;
  top : 1881px;
  width : 164px;
  height : 199px;
  z-index: 200;
  background:url(../images/gif/stars.gif) no-repeat 50% 50%;
  background-size: contain;
}*/
#icoPrev_52{ 
  left : 2538px;
  top : 1558px;
  width : 43px;
  height : 40px;
  z-index: 200;
  background:url(../images/gif/dogi5.gif) no-repeat 50% 50%;
  background-size: contain;
}
.touchIsOn #icoPrev_52{  background:url() no-repeat 50% 50%; }

/* #icoPrev_53{ 
  left : 2405px;
  top : 1244px;
  width : 43px;
  height : 40px;
  z-index: 130;
  background:url(../images/gif/palo2.gif) no-repeat 50% 50%;
  background-size: contain;
} */
/* #icoPrev_54{ 
  left : 2066px;
  top : 1511px;
  width : 164px;
  height : 152px;
  z-index: 200;
  background:url(../images/gif/stars.gif) no-repeat 50% 50%;
  background-size: contain;
} 
#icoPrev_55{ 
  left : 2045px;
  top : 918px;
  width : 119px;
  height : 111px;
  z-index: 200;
  background:url(../images/gif/stars.gif) no-repeat 50% 50%;
  background-size: contain;
} */

#icoPrev_19 {
  left : 1820px;
  top : 930px;
  width : 59px;
  height : 71px;
  z-index: 102;
  background:url(../images/people/dayang.png);
  background-position-y: 75px;
  animation: moveX_Day1 3s steps(23) infinite;
 }

@keyframes moveX_Day1{
  from{background-position-x:0px;}
  to{background-position-x:-1357px;}
}

/**********************************  Paredes  **********************************/
.ParedMask{ position:absolute; left:0px; top:0px; width:50px; height:50px; display:none; }
.fondoOPC{ position:absolute; top:0px; left:0px; z-index:1; display:none; }
/***********************************  Player  ***********************************/
#Player_1{
    position:absolute;
    width:25px; height:20px;
    z-index:2;
    background-color: rgba(132, 82, 82, 0);
}
#Player_1 .sprite{
    position:absolute;
    width:102.4px; height:102.4px;
    left:-40px; bottom:0px;
    background-position:0px 0px;
    background-color: rgba(250,0,0,0);
}
.playerF .sprite{ background-image: url(../images/mapa/sprite_F.png); }
.playerM .sprite{ background-image: url(../images/mapa/sprite_M.png); }
.avOF .sprite{ background-image: url(../images/sprite1_F.png); }
.avOM .sprite{ background-image: url(../images/sprite1_M.png); }
.avPF .sprite{ background-image: url(../images/sprite2_F.png); }
.avPM .sprite{ background-image: url(../images/sprite2_M.png); }
.avRF .sprite{ background-image: url(../images/sprite3_F.png); }
.avRM .sprite{ background-image: url(../images/sprite3_M.png); }
.avDF .sprite{ background-image: url(../images/sprite4_F.png); }
.avDM .sprite{ background-image: url(../images/sprite4_M.png); }


#Player_1 .ptje{
    position:absolute; display:none;
    width: 162px;
    height: 159px;
    left: -73px;
    top: -220px;
    background: rgba(250,0,0,0) url(../images/alert.png) no-repeat 50% 50%;
    cursor: pointer;
    background-size: cover;
    z-index: 200;
}

.touchIsOn #Player_1 .ptje{
    position:absolute; display:none;
    width: 162px;
    height: 159px;
    left: -73px;
    top: -220px;
    background: rgba(250,0,0,0) url(../images/alertM.png) no-repeat 50% 50%;
    cursor: pointer;
    background-size: cover;
    z-index: 200;
}

#icoPel_15 .objt{
  position:absolute; 
  opacity: 0;
  width: 207px;
  height: 105px;
  left: -53px;
  top: -89px;
  background: rgba(250,0,0,0) url(../images/aviso_limp.png) no-repeat 50% 50%;
  background-size: cover;
  z-index: 200;
}
#objt_17{
  line-height: 159px;
  font-family: 'Catalogo';
  text-align: center;
  font-size: 14.5px;
}

#objt_17 span{
  margin-top: -68px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
  width: 190px;
}

.opacityMC{opacity: 0.3;}
/*************************  Objetos por cada escenario  *************************/
.conteo{
    position:absolute;
    background-repeat:no-repeat;
    background-position:center center;
    display: none;
}
#gameArea1{
    position:absolute;
    width:3403px; height:2293px;
    left:0px; top:0px;
    background:url(../images/mapa/city.png) no-repeat;
    overflow:hidden;
}
/*******************************************************************************/
.anim{
  position : absolute ;
  left: 132px;
  top: 56px;
  width : 25px;
  height : 27px; 
  background:url(../images/UI/ligts.svg) no-repeat;
  cursor: pointer;
}
#topBar{
  position : absolute ;
  left : 1186px;
  top : 110px;
  width : 287px;
  height : 147px;  
  background:url(../images/UI/cont_avatar.svg) no-repeat;
  -webkit-transition: All 0.4s cubic-bezier(.31,.11,.42,1);
  -moz-transition: All 0.4s cubic-bezier(.31,.11,.42,1);
  -o-transition: All 0.4s cubic-bezier(.31,.11,.42,1);
  transition: All 0.4s cubic-bezier(.31,.11,.42,1);
}
.animPers{
 left: 1064px !important; 
}

#pop_stat_curs{
  background-color: rgba(0,0,0,0.5);
  display: none;
}

.content_curs{
  width: 575px;
  height: 374px;
  top: 163px;
  left: 388px;
  position: absolute;
  background: url(../images/status_curso/contenido.png) no-repeat center center;
}

#botBar{
  position : absolute ;
  left : 1175px;
  top : 270px;
  width : 179px;
  height : 238px; 
  background:url(../images/UI/statusPlayer.png) no-repeat;
}

#btn_curs{
  position : absolute ;
  left: 48px;
  top: 190px;
  width : 90px;
  height : 21px;
  background:url(../images/status_curso/curs_btn.svg) no-repeat;
  cursor: pointer;
}

.btn_Salir{
  position : absolute ;
  left: 220px;
  top: 333px;
  width : 131px;
  height : 43px;
  background:url(../images/status_curso/salir_curs.png) no-repeat;
  cursor: pointer;
}
#curso_activ{
  position: absolute;
  top: 100px;
  left: 20px;
}
.cur_esp{
  background: url(../images/status_curso/checks.png) no-repeat;
  background-position-y: bottom;
  width: 460px;
  height: 17px;
  position: relative;
  text-indent: 26px;
  line-height: 1em;
  font-family: 'catalogo';
  font-size: 18px;
  color: #515151;
  list-style: none;
  margin-bottom: 5px;
  cursor: pointer;
}
.cur_esp span{
  position: absolute;
  /* color: black; */
  right: 0px;
}

.aprobado{
  background-position-y: top !important;
}

.tit_curs{
  font-family: 'CatalogoGruesa';
  color: #ff3650;
  font-size: 26px;
  position: absolute;
  top: 24px;
  left: 180px;
  text-decoration: underline;
  text-transform: uppercase;
}
/* linea de estilos para popup de estatus de curso */

#i4avatar{
    position: absolute;
    width: 114px; height: 107px;
    left: 9px; top: 16px;
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.av_OF #i4avatar{ background-image: url(../images/i3avOF.png); }
.av_OM #i4avatar{ background-image: url(../images/i3avOM.png); }
.av_PF #i4avatar{ background-image: url(../images/i3avPF.png); }
.av_PM #i4avatar{ background-image: url(../images/i3avPM.png); }
.av_RF #i4avatar{ background-image: url(../images/i3avRF.png); }
.av_RM #i4avatar{ background-image: url(../images/i3avRM.png); }
.av_DF #i4avatar{ background-image: url(../images/i3avDF.png); }
.av_DM #i4avatar{ background-image: url(../images/i3avDM.png); }
.i4txt{
    position: absolute;
    width: 160px;
    top: 295px;
    font-family: 'CatalogoGruesa';
    line-height: 50px;
    color: #ff3650;
    text-align: center;
    background: rgba(0,0,0,0);
}
#i4RazonSocial{ 
    left: 52px;
    top: 95px;
    width: 120px;
    font-size: 14px;
}
/* #i4Nivel{ left: 343px; font-size: 39px; } */
#i4Puntaje{ 
    left: 73px;
    top: 137px;
    width: 100px;
    font-size: 22px; 
}
.anim1{
  position : absolute ;
  left: 330px;
  top: 397px;
  width: 100px;
  height: 80px;
  background:url(../images/UI/a1.png) no-repeat;
  -webkit-animation:  opacAnim 1s infinite; /* Safari 4+ */
  -moz-animation:     opacAnim 1s infinite; /* Fx 5+ */
  -o-animation:       opacAnim 1s infinite; /* Opera 12+ */
  animation:          opacAnim 1s infinite; /* IE 10+, Fx 29+ */
}
.anim2{
   position : absolute ;
    left: 424px;
    top: 398px;
  width: 100px;
  height: 80px; 
  background:url(../images/UI/a2.png) no-repeat;
  -webkit-animation:  opacAnim 1s infinite; /* Safari 4+ */
  -moz-animation:     opacAnim 1s infinite; /* Fx 5+ */
  -o-animation:       opacAnim 1s infinite; /* Opera 12+ */
  animation:          opacAnim 1s infinite; /* IE 10+, Fx 29+ */
}
.anim3{
   position : absolute ;
    left: 516px;
    top: 398px;
  width: 100px;
  height: 80px; 
  background:url(../images/UI/a3.png) no-repeat;
  -webkit-animation:  opacAnim 1s infinite; /* Safari 4+ */
  -moz-animation:     opacAnim 1s infinite; /* Fx 5+ */
  -o-animation:       opacAnim 1s infinite; /* Opera 12+ */
  animation:          opacAnim 1s infinite; /* IE 10+, Fx 29+ */
}
.anim4{
   position : absolute ;
    left: 608px;
    top: 397px;
  width: 100px;
  height: 80px;
  background:url(../images/UI/a4.png) no-repeat;
  -webkit-animation:  opacAnim 1s infinite; /* Safari 4+ */
  -moz-animation:     opacAnim 1s infinite; /* Fx 5+ */
  -o-animation:       opacAnim 1s infinite; /* Opera 12+ */
  animation:          opacAnim 1s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes opacAnim {
  0%   { opacity: 0; }
  50%   { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes opacAnim {
  0%   { opacity: 0; }
  50%   { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes opacAnim {
  0%   { opacity: 0; }
  50%   { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes opacAnim {
  0%   { opacity: 0; }
  50%   { opacity: 1; }
  100% { opacity: 0; }
}


#i4Estrellas{ 
    left: 94px;
    top: 182px;
    width: 58px;
    font-size: 22px;
}
#i4Nombre{
    position: absolute;
    width: 117px;
    left: 164px;
    top: 42px;
    font-family: 'CatalogoGruesa';
    font-size: 14px;
    line-height: 15px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}
#i4Logout{
    position: absolute;
    width: 95px;
    height: 35px;
    left: 176px;
    top: 108px;
    font-family: 'Catalogo';
    font-size: 17px;
    line-height: 33px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: url(../images/UI/closeSetion.png) no-repeat 0px 0px;
}
#i4Logout:hover{    
  background: url(../images/UI/closeSetion.png) no-repeat -97px 0px; 
}
/* #i4Buzon{
    position: absolute;
    width: 189px; height: 116px;
    left: 39px; top: 291px;
    background: url(../images/popups/i4buzon.png) no-repeat 50% 0%;
    cursor: pointer;
} */



/*******************************************************************************/
/**********************************  Popups  **********************************/
/*******************************************************************************/
.clearfix:before,.clearfix:after{
    content: '\0020';
    display: block; clear: both;
    width: 0; height: 0;
    visibility: hidden;
    overflow: hidden;
}
.clearfix{ zoom: 1; }
.popup{
    position: absolute; display: none;
    width: 100%; height: 100%;
    left: 0; top: 0;
    background: rgba(0,0,0,0.7);
    overflow-y: scroll;
}
.popup form{
    position: absolute;
    left : 446px;
    top : 109px;
    width : 470px;
    height : 487px;
    background: rgba(0,0,0,0)  url(../images/formulario/formulario.png) no-repeat;
}

/*******************************  Popup Buzon  *******************************/
#formBuzon{
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}
#accordion{
  background: url(../images/formulario/back_pop.png) no-repeat center center;
  width: 749px;
  height: 412px;
  position: absolute;
  left : 293px;
  top : 136px;
}
.maestra{
  background : url(../images/formulario/maestra.png) no-repeat;
  position : absolute ;
  left: 632px;
  top: -32px;
  width : 299px;
  height : 593px;
}
.cont_accord
{
  position : absolute ;
  left: 99px;
  top: 159px;
  width: 536px;
  height: 206px;
  overflow-y: scroll;
}

.accordionMC {
  background-color: rgba(73, 46, 153, 0);
  font-family: "Catalogo";
  color: #fff;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 13px;
  transition: 0.4s;
}

.active, .accordionMC:hover {
  background-color: #482E99; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: #4A35A5;
  overflow: hidden;
  color: #ffffff;
  font-family: "Catalogo";
  font-size: 13px;
  line-height: 18px;
}

.accordionMC:after {
    content: '\25b6';
    color: #ffffff;
    font-weight: bold;
    float: left;
    margin-left: 5px;
    margin-right: 7px;
    margin-top: -3px;
}

.active:after {
    content: "\25bc";
}
#pop2txt1{
  font-family: "Catalogo";
  font-size: 16px;
  line-height: normal;
  color: #ffffff;
  text-align: center;
  position: absolute;
  width: 420px;
  top: 283px;
  left: 442px;
}
#pop2ta{
    display: block;
    position: absolute;
    top: 339px;
    left: 443px;
    width: 393px;
    resize: none;
    height: 138px;
    padding: 10px 10px;
    font-family: "Catalogo";
    font-size: 17px;
    line-height: 20px;
    color: #333745;
    background-color: #ffffff;
    border-radius: 12px;
    outline: none;
}
#pop2ta.error{ border:2px solid #ff0000; color: #ff0000; }
/* #pop2txt2{
    position: absolute;
    top: 436px;
    padding: 0 40px 20px;
    font-family: "Catalogo";
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    text-align: center;
} */
#pop2sub{
    position: absolute;
    left : 443px;
    top : 514px;
    width : 168px;
    height : 50px;
    outline: none;
    border: none;
    background: rgba(0,0,0,0)  url(../images/formulario/sendMail.png) no-repeat 50% 50%;
    cursor:pointer;
}

.aceptaCd{
    background: rgba(0,0,0,0)  url(../images/popups/return.png) no-repeat 50% 50%;
    position : absolute ;
    left : 705px;
    top : 514px;
    width : 168px;
    height : 50px;
    cursor: pointer;
}

#correo_mc{
  position: absolute;
  left: 133px;
  top: 378px;
  width: 204px;
  height: 51px;
  background:url(../images/formulario/consultas.png) no-repeat;
  cursor:pointer;
}
/*******************************  Nivel PopUp Content Prevencion  *********************************/

.i4Nivel{
    position: absolute;
    top : 400px;
    width : 95px; height : 76px;    
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
}
.i4Nivel.disable{
    background-position: 0px -76px;
    pointer-events: none;
}

.disable{
  pointer-events: none;
  -webkit-pointer-events: none;
  -moz-pointer-events: none;
  opacity: 0.6;
}

#i4Cuestionario{
    position: absolute;
    width: 190px; height: 77px;
    left: 51px; top: 210px;
    text-decoration: none;
    background: rgba(0,0,0,0) url(../images/i4Cuestionario.png) no-repeat 50% 50%;
    cursor: pointer;
}
#i4Certificado{
    position: absolute;
    width: 190px; height: 90px;
    left: 50px; top: 310px;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    background-image: url(../images/i4Certificado.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
}

#i4Certificado_p{
    position: absolute;
    width: 190px; height: 90px;
    left: 50px; top: 310px;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    background-image: url(../images/i4Certificado.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    cursor: pointer;
}
#i4Certificado.disable{
    background-position: 0px -90px;
    pointer-events: none;
    opacity: 0.7;
}

#i4Certificado_p.disable{
    background-position: 0px -90px;
    pointer-events: none;
    opacity: 0.7;
}

#i4Nivel_1{ left: 330px; background-image: url(../images/i4nivel_1.png); }
#i4Nivel_2{ left: 424px; background-image: url(../images/i4nivel_2.png); }
#i4Nivel_3{ left: 517px; background-image: url(../images/i4nivel_3.png); }
#i4Nivel_4{ left: 609px; background-image: url(../images/i4nivel_4.png); }


/*******************************************************************************/
/************  PopUp Genericos  ************/
.CV_btn-1{
    background : url(../images/popups/undertand.png);;
    position : absolute ;
  left : 569px;
  top : 514px;
    width : 169px;
    height : 51px;
    cursor: pointer;
}
.CV_btn-2{
    background : url(../images/popups/continuar.png);;
    position : absolute ;
    left : 579px;
    top : 454px;
    width : 191px;
    height : 50px;
    cursor: pointer;
}
.CV_btn2{
    background : url(../images/popups/return.png);;
    position : absolute ;
  left : 705px;
  top : 514px;
    width : 169px;
    height : 51px;
    cursor: pointer;
}
.CV_btn_3{
    background : url(../images/popups/return.png);;
    position : absolute ;
  left : 569px;
  top : 514px;
    width : 169px;
    height : 51px;
    cursor: pointer;
}

.CV_btn1{
    background : url(../images/popups/start.png);;
    position : absolute ;
  left : 443px;
  top : 514px;
    width : 169px;
    height : 51px;
    cursor: pointer;
}
.CV_btn4{
  background : url(../images/popups/start.png);;
  position : absolute ;
left : 443px;
top : 514px;
  width : 169px;
  height : 51px;
  cursor: pointer;
}

#opcion2{
  background : url(../images/popups/opcion2.png);;
  position : absolute ;
  left: 363px;
  top: 414px;
  width : 132px;
  height : 43px;
  cursor: pointer;
}

.textCent{
    width: 541px;
    top: 210px;
    left: 120px;
    font-size: 25px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;
    font-family: 'CatalogoGruesa';
    text-transform: uppercase;
    position: absolute;
}
.ayuda_MC{
    width: 541px;
    top: 96px;
    left: 167px;
    font-size: 35px;
    line-height: 36px;
    color: #ffffff;
    text-align: center;
    font-family: 'Bebas';
    text-transform: uppercase;
    position: absolute;
}

/**********  PopUp0  ************/

.pop_restring{
    background: url(../images/popups/restringido2.png) no-repeat;
    position : absolute ;
    left : 0px;
    top : 0px;
    width : 1350px;
    height : 700px;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
}

.pop_restring-1{
    background: url(../images/popups/driver_no_in.png) no-repeat;
    position : absolute ;
    left : 0px;
    top : 0px;
    width : 1350px;
    height : 700px;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
}

/**********  PopUp1  ************/

.opcAyuda{
    background: url(../images/popups/ayuda.png) no-repeat;
    position : absolute ;
    left : 0px;
    top : 0px;
    width : 1350px;
    height : 700px;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
}


/**********  PopUp2  ************/
.drivers{
    background: url(../images/popups/driver_ok.png) no-repeat;
    position : absolute ;
    left : 0px;
    top : 0px;
    width : 1350px;
    height : 700px;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
}


/**********  PopUp3  ************/
.prevencion{
    background: url(../images/popups/expertos_prevenc.png) no-repeat;
    position : absolute ;
    left : 0px;
    top : 0px;
    width : 1350px;
    height : 700px;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
}




/**********  PopUp7  ************/
.pausas{
    background: url(../images/popups/pausas_activas.png) no-repeat;
    position : absolute ;
    left : 0px;
    top : 0px;
    width : 1350px;
    height : 700px;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
}


/**********  PopUp8  ************/
.pop_restring1{
    background: url(../images/popups/driver_no_in.png) no-repeat;
    position : absolute ;
    left : 0px;
    top : 0px;
    width : 1350px;
    height : 700px;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
}

.pop_restring_constr{
    background: url(../images/popups/enconstruct.png) no-repeat;
    position : absolute ;
    left : 0px;
    top : 0px;
    width : 1350px;
    height : 700px;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
}

/**********  PopUp9  ************/

.pop_emergencia{
    background: url(../images/popups/pop_emrgencias.png) no-repeat;
    position : absolute ;
    left: 170px;
    top: 16px;
    width : 1350px;
    height : 700px;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
}
.pop_extintor{
  background: url(../images/popups/pop_extintor.png) no-repeat;
  position : absolute ;
  left : 0px;
  top : -5px;
  width : 1350px;
  height : 700px;
  font-size: 27px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-family: 'CatalogoGruesa';
}

/**********  PopUp10  ************/
.auxilio{
    background: url(../images/popups/emergencias.png) no-repeat;
    position : absolute ;
    left : 0px;
    top : 0px;
    width : 1350px;
    height : 700px;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
}



/**********  PopUp11  ************/
.museo{
    background: url(../images/popups/museo.png ) no-repeat;
    position : absolute ;
    left : 0px;
    top : 0px;
    width : 1350px;
    height : 700px;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
}



/**********  PopUp12  ************/

.quimica{
    background: url(../images/popups/quimicos.png) no-repeat;
    position : absolute ;
    left : 0px;
    top : 0px;
    width : 1350px;
    height : 700px;
    font-size: 27px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'CatalogoGruesa';
}























