/*******************************************************************************/
*{ box-sizing:border-box; }
html,body{ height:100%; }
body{ width:100%; zoom: 1; }
b,strong{ font-weight:bold; }
i,em{ font-style:italic; }
#fullcont{
    position:relative;
    width:100%; min-width:310px;
    overflow:hidden;
    /***/background:url(../images/backgroud.png) no-repeat 50% 0px;/***/
    background-size: cover;
}
.container{ position:relative; display:block; width:100%; }
.row{
    position:relative;
    width:100%;
    max-width: 1350px;
    min-width: 310px;
    margin:0 auto;
}
/***************************  limpiar los float  ********************************/
.clearfix:before,.clearfix:after,
.container:before,.container:after,
.row:before,.row:after{
    content:'\0020';
    display:block; clear:both;
    width:0; height:0;
    visibility:hidden;
    overflow:hidden;
}
.row,.clearfix{ zoom:1; background: rgba(0,0,0,0); }
/***  <br class="clear" />  ***/
.clear{
    display:block; clear:both;
    width:0; height:0;
    visibility:hidden;
    overflow:hidden;
}
/*******************************************************************************/

#ctr_parallax{
    position:absolute;
    width:100%; height:100%;
    overflow:hidden;
    top: 0px; left: 0px;
}

#opti-cont{ cursor: pointer; display: none; }
#opti-cont.show{ display: block; }
#opti-cont img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

#edificios_mc{
    position:absolute;
    margin-left : -3px;
    margin-top : 95px;
    width : 100%;
    height : 605px;
    /* background:url(../images/edificios.png) repeat-x  50% 0%; */
}
#edif1_mc{
    position:absolute;
margin-left: -17px;
    margin-top: 175px;
    width : 100%;
    height : 605px;
    background:url(../images/edif1.png) repeat-x  50% 0%;/***/
}
#edif2_mc{
    position:absolute;
    margin-left: 22px;
    margin-top: 175px;
    width : 100%;
    height : 605px;
    background:url(../images/edif2.png) repeat-x  50% 0%;/***/
}
#edif3_mc{
    position:absolute;
    margin-left: 77px;
    margin-top: 258px;
    width : 100%;
    height : 605px;
    background:url(../images/edif3.png) repeat-x  50% 0%;/***/
}

#grass1_mc{
    position:absolute;
margin-left: -17px;
    margin-top: 0px;
    width : 100%;
    height : 605px;
    background:url(../images/face3.png) repeat-x  50% 0%;/***/
}
#grass2_mc{
    position:absolute;
    margin-left: 22px;
    margin-top: 0px;
    width : 100%;
    height : 605px;
    background:url(../images/face2.png) repeat-x  50% 0%;/***/
}
#grass3_mc{
    position:absolute;
    margin-left: 77px;
    margin-top: 7px;
    width : 100%;
    height : 605px;
    background:url(../images/face1.png) repeat-x  50% 0%;/***/
}
#personas1_mc{
    position:absolute;
    margin-left : -3px;
    margin-top : 342px;
    width : 100%;
    height : 414px;
    background:url(../images/personajes.png) no-repeat  50% 0%;/***/
}
#personas2_mc{
    position:absolute;
    margin-left : -3px;
    margin-top : 342px;
    width : 100%;
    height : 414px;
    background:url(../images/personajes2.png) no-repeat  50% 0%;/***/
}
#nubes1_mc{
    margin-left : -282px;
    margin-top : 101px;
    width : 1064px;
    height : 83px;
    position:absolute;
    opacity: 0.4;
    background:url(../images/nubes.png) no-repeat  50% 0%;/***/
    background-size: contain;
}
#nubes2_mc{
    margin-left : -282px;
    margin-top : 10px;
    width : 1264px;
    height : 83px;
    position:absolute;
    opacity: 0.4;
    background:url(../images/nubes.png) no-repeat  50% 0%;/***/
    background-size: contain;
}
/*******************************************************************************/
#login-cont{ display: none; }
#login-cont.hide{ display: block; }
#header{
    height: 245px;
    background: url(../images/header.png) no-repeat 50% 100%;
}
#logo_mc{
    top: 45px;
/*     width: 551px;
 */    height: 231px;
    background: url(../images/logo.png) no-repeat 50% 100%;
    background-size: contain;
}
#formLogin{
    padding: 70px 0 70px;
}
.formInput{
    display:block;
    width:295px;
    margin:0 auto 20px; padding:7px 0 7px 45px;
    font-family:"Catalogo";
    font-size:17px;
    line-height:20px;
    color:#333745;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: 14px 50%;
    border:0px transparent none;
    outline:none;
}
.formInput.error{ border:2px solid #ff0000; color: #ff0000; }
/***
.formInput::-webkit-input-placeholder{ color:#333745; }
.formInput:-ms-input-placeholder{ color:#333745; }
.formInput::-moz-placeholder{ color:#333745; opacity:1; }
.formInput:-moz-placeholder{ color:#333745; opacity:1; }
/***/
#username{ background-image: url(../images/ico_user.png); }
#password{ margin-bottom: 30px; background-image: url(../images/ico_pass.png); }
#openForgot{
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Catalogo";
    font-size: 16px;
    line-height: 20px;
    color: #333745;
    text-align: center;
    cursor: pointer;
}
#submit{
    display:block;
    width:164px; height:41px;
    margin:0px auto 0;
    font-family:"Catalogo";
    font-size:18px;
    line-height:40px;
    color:#ffffff;
    background: url(../images/login.png) no-repeat 50% 50%;
    border:0 none;
    cursor:pointer;
}

#footer{
    height: 90px;
    background: #ffffff url(../images/logo_nuevo.png) no-repeat 50% 40%;
}
/*******************************************************************************/
.disable{
    pointer-events: none;
    opacity: 0.7;
}
#popForgot{
    position: absolute; display: none;
    width: 100%; height: 100%;
    left: 0; top: 0;
    background: rgba(0,0,0,0.7);
}
#formForgot{
    position: relative;
    max-width: 493px;
    margin: 50px auto 50px;;
    padding: 5px 0 50px;
    background: rgba(255,255,255,1);
    border: 8px solid #00a2bb;
}
#btnClose{
    padding-right: 5px;
    font-family:"Catalogo";
    text-align: right;
    font-size: 30px;
    line-height: 30px;
    cursor: pointer;
}
#f-msg{
    padding: 0 40px 20px;
    font-family: "Catalogo";
    font-size: 17px;
    line-height: 23px;
    color: #333745;
}
.textInput{
    display: block;
    width: 90%;
    max-width: 385px;
    margin:0 auto 20px; padding:7px 10px;
    font-family:"Catalogo";
    font-size:17px;
    line-height:20px;
    color:#333745;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: 14px 50%;
    border:2px solid #333745;
    outline:none;
}
.textInput.error{ border:2px solid #ff0000; color: #ff0000; }
#f-submit{
    display:block;
    width:220px; height:36px;
    margin: 20px auto 20px;
    font-family:"Catalogo";
    font-size:18px;
    line-height:35px;
    color:#ffffff;
    background: #ff3650;
    border:0 none;
    cursor:pointer;
}
#f-change{
    display:block;
    width: 300px; height:36px;
    margin: 40px auto 0;
    font-family:"Catalogo";
    font-size:18px;
    line-height:35px;
    color:#ffffff;
    background: #ff3650;
    border:0 none;
    cursor:pointer;
}
#formReset{ display: none; }
/*******************************************************************************/




.nube_anim{
  animation: ins_nubeanim linear 50s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: ins_nubeanim linear 50s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: ins_nubeanim linear 50s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: ins_nubeanim linear 50s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: ins_nubeanim linear 50s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes ins_nubeanim{
  0% {
    transform:  translate(-1000px,0px)  ;
  }
  100% {
    transform:  translate(4000px,0px)  ;
  }
}

@-moz-keyframes ins_nubeanim{
  0% {
    -moz-transform:  translate(-1000px,0px)  ;
  }
  100% {
    -moz-transform:  translate(4000px,0px)  ;
  }
}

@-webkit-keyframes ins_nubeanim {
  0% {
    -webkit-transform:  translate(-1000px,0px)  ;
  }
  100% {
    -webkit-transform:  translate(4000px,0px)  ;
  }
}

@-o-keyframes ins_nubeanim {
  0% {
    -o-transform:  translate(-1000px,0px)  ;
  }
  100% {
    -o-transform:  translate(4000px,0px)  ;
  }
}

@-ms-keyframes ins_nubeanim {
  0% {
    -ms-transform:  translate(-1000px,0px)  ;
  }
  100% {
    -ms-transform:  translate(4000px,0px)  ;
  }
}


.nube_anim2{
  animation: ins_nubeanim2 linear 50s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: ins_nubeanim2 linear 50s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: ins_nubeanim2 linear 50s;
  -moz-animation-iteration-count: infinite;
  -moz-transform-origin: 50% 50%;
  -o-animation: ins_nubeanim2 linear 50s;
  -o-animation-iteration-count: infinite;
  -o-transform-origin: 50% 50%;
  -ms-animation: ins_nubeanim2 linear 50s;
  -ms-animation-iteration-count: infinite;
  -ms-transform-origin: 50% 50%;
}

@keyframes ins_nubeanim2{
  0% {
    transform:  translate(2000px,0px)  ;
  }
  100% {
    transform:  translate(-4000px,0px)  ;
  }
}

@-moz-keyframes ins_nubeanim2{
  0% {
    -moz-transform:  translate(2000px,0px)  ;
  }
  100% {
    -moz-transform:  translate(-4000px,0px)  ;
  }
}

@-webkit-keyframes ins_nubeanim2 {
  0% {
    -webkit-transform:  translate(2000px,0px)  ;
  }
  100% {
    -webkit-transform:  translate(-4000px,0px)  ;
  }
}

@-o-keyframes ins_nubeanim2 {
  0% {
    -o-transform:  translate(2000px,0px)  ;
  }
  100% {
    -o-transform:  translate(-4000px,0px)  ;
  }
}

@-ms-keyframes ins_nubeanim2 {

  0% {
    -ms-transform:  translate(2000px,0px)  ;
  }
  100% {
    -ms-transform:  translate(-4000px,0px)  ;
  }
}