@charset "utf-8";
*{ -webkit-transform:translateZ(0); }
/*****************************************  estilos base  *****************************************/
html{ overflow:hidden; }
body{
    margin:0px; padding:0px;
    background-color:#333333;
    overflow:hidden;
}
.resizeWindow{
    position: absolute;
    width: 1350px; height: 700px;
    left: 0px; top: 0px;
    margin: 0;
    overflow: hidden;
    transform-origin: 0% 0%;
}
#qLoverlay{ display: none; z-index: 999; }
#historia{ display: block; background-color: #434343; }
.showNewPassword{}
/*****************************************  loader  *****************************************/
#qLoverlay{
    display: none;
    background:url(../images/fondoLoader.png) no-repeat center center;
    z-index: 999;
}
#qLpercentage{
    position:absolute;
    width: 250px; height: 120px;
    left: 550px; bottom: 330px;
    font-family:"Bebas";
    font-size: 111px;
    line-height: 120px;
    color:#ffffff;
    text-align: center;
}
#img_loader01{
    position: absolute;
    width: 215px; height: 126px;
    left: 567px; bottom: 175px;
    background:url(../images/loadG.png) no-repeat 50% 100%;
    overflow: hidden;
}
#img_loader01 div{
    position: absolute; display: block;
    width: 100%;
    left: 0; right: 0;
    bottom: 0;
    background:url(../images/load.png) no-repeat 50% 100%;
    overflow: hidden;
}
#qLoverlay img{ visibility:hidden; }
/*****************************************  pantallas iniciales  *****************************************/
.instrucciones{
    position:absolute;
    width:1350px; height:700px;
    left:0px; top:0px;
    z-index:600;
    display:none;
}
#instrucciones_1{ background: url(../images/bginst1.png) no-repeat center center; }
#instrucciones_2{ background: url(../images/bginst2.png) no-repeat center center; }
.touchIsOn #instrucciones_2{ background: url(../images/bginst2t.png) no-repeat center center; }
#instrucciones_3{ background: url(../images/bginst3.png) no-repeat center center; }
.touchIsOn #instrucciones_3{ background: url(../images/bginst3t.png) no-repeat center center; }
#instrucciones_4{ background: url(../images/bginst4.png) no-repeat center center; }
#instrucciones_5{ background: url(../images/bginst5.png) no-repeat center center; }
.btnPrev{
    position: absolute;
    width: 33px; height: 80px;
    background: url(../images/btnPrev.png) no-repeat 0px 0px;
    cursor: pointer;
}
#btnPrev_2{ left: 160px; top: 310px; }
#btnPrev_3{ left: 160px; top: 310px; }
#btnPrev_4{ left: 160px; top: 310px; }
#btnPrev_5{ left: 160px; top: 310px; }
.btnNext{
    position: absolute;
    width: 33px; height: 80px;
    background: url(../images/btnNext.png) no-repeat 0px 0px;
    cursor: pointer;
}
#btnNext_1{ right: 160px; top: 310px; }
#btnNext_2{ right: 160px; top: 310px; }
#btnNext_3{ right: 160px; top: 310px; }
#btnNext_4{ right: 160px; top: 310px; }
#btnJugar{
    position:absolute;
    width:167px; height:71px;
    left:597px; top:539px;
    background: url(../images/btnJugar.png) no-repeat center center;
    cursor:pointer;
}
/*****************************************  pantallas del juego  *****************************************/
.game{
    position:absolute;
    width:1350px; height:700px;
    left:0px; top:0px;
    overflow:hidden;
    display:none;
        z-index: 200;
}
.gameFrame{
    position:absolute;
    width:1350px; height:700px;
    left:0px; top:0px;
    overflow:hidden;
}
#infoWindow,#pregWindow,#capaResumen{
    position:absolute;
    width:1351px; height:700px;	
    background-color:rgba(0,0,0,0.8);
    overflow:hidden;
    display:none;
    z-index:600;
}
.caratula{
    position:absolute;
    width:1350px; height:700px;
    left:0px; top:0px;
    background-repeat:no-repeat;
    background-position:center center;
}
/*****************************************  Ventana pausa  *****************************************/
#reset_time{
    background: url(../images/game/endTime.png) no-repeat center center;
    display: none;
    top: 85px;
    z-index: 601;
}
#btnReset{
    position: absolute;
    width: 168px; height: 43px;
    left: 495px;
    top: 477px;
    background: url(../images/game/btn_return.png) no-repeat 50% 50%;
    cursor: pointer;
}


#pausaTouch{
    position: absolute;
    width: 116px; height: 95px;
    left: 1092px;
    top: 25px;
    background: rgba(0,0,0,0) url(../images/btnPausa.png) no-repeat 50% 50%;
    z-index:999;
    cursor: pointer;
}

#vinetatiempo{
    position: absolute;
    width: 406px; height: 96px;
    left: 695px;
    top: 25px;
    background: rgba(0,0,0,0) url(../images/vinetatiempo.png) no-repeat 50% 50%;
    z-index:400;
    cursor: pointer;
    font-family: "Bebas";
    font-size: 64px;
    color: #333745;
    text-align: right;
    display: none;
}
#PauseGame{
    position: absolute;
    width: 1350px; height: 700px;
    left: 0px; top: 0px;
    background: rgba(0,0,0,0.8) url(../images/fondoPausa.png) no-repeat 50% 50%;
    display: none;
    z-index: 630;
}
#btnReanudar{
    position: absolute;
    width: 158px; height: 35px;
    left: 579px; top: 392px; 
    background: url(../images/btnReanudar.png) no-repeat 50% 50%;
    cursor: pointer;
}
/*****************************************  Entorno del juego  *****************************************/
.gameEnv{ display:none; }
/*****************************************  marcador (parte superior) *****************************************/
#marcador{
    position:absolute;
    top:0px; left:0px;
    width:1350px; height:150px;
    background: url(../images/BGmarcador.png) no-repeat 100% 50%;
    z-index:999;
}
#CTimer{
    position:absolute;
    top:22px; left:902px;
    font-family:"Bebas";
    font-size:64px;
    color:#333745;
    text-align:right;
    width:160px;
}
#CTimer div{
    position:relative;
    display:block;
    float:left;
}
#CMin, #CSeg{ width:70px; color:#ff3650; }
#CSeg1{position: absolute;
    left: 290px;
    color:#ff3650;}
.iconCheck{
    position:absolute;
    width:43px;
    height:44px;
    z-index:1;
    top: 48px;
    background-image:url(../images/icon_check.png);
    background-position:-44px 0px;
    display:none;
    z-index: 999;
}
.icon_correcto{
     position: absolute; /*display: none;*/
    width: 43px; height: 43px;
    background-image: url(../images/icon_correcto.png);
    background-position: 0px 0px;*/
}
.iconCheck.anim{ animation:tada 1s; }
.iconCheck.check{ background-position:0px 0px; }
#icon_1{left: 300px;}
#icon_2{left: 360px;}
#icon_3{left: 420px;}
#icon_4{left: 480px;}
#icon_5{left: 540px;}
/*****************************************  minimap (canvas)  *****************************************
.miniMap{
    position: absolute;
    bottom: 0px; right: 0px;
    height: 100px;
    border-top: 1px solid black;
    border-left: 1px solid black;
}
#miniMap1{ z-index:560; }
#miniMap2{ z-index:561; }
/*********************************  ventana de preguntas *********************************/
/*#pregMain{ background-image: url(../img/BGpregMain.png); }*/
#pregMain{ /* background-image: url(../images/pregs/base.png); */ }
#pregTXT{
position: absolute;
    width: 414px;
    height: 112px;
    left: 479px;
    top: 223px;
    font-family: 'CatalogoSG';
    font-size: 16px;
    line-height: 90px;
    text-align: center;
    color: #333745;
    background: url(../images/pregs/pregA.png) no-repeat center center;
}
#pregTXT span{
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
    width: 350px;
}
.pregVista{
    position: absolute;
    width: 238px; height: 205px;
    left: 400px; top: 274px;
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-position:50% 50%;
}
.pregOpc{
    position: absolute;
    width: 250px;
    height: 131px;
    border-radius:  10px;
    top: 382px;
    background: #ffbb2c;
    text-align:center;
    color:#333745;
    font-family:"Catalogo";
    font-size:15px;
    line-height: 104px;
    cursor: pointer;
}
.img_ask{
    top: 311px;
    left: 542px;
    position: absolute;
    width: 291px;
    height: 189px;
}
#image_ref_1{ background: url('../images/pregs/pic1.png') no-repeat center center; }
#image_ref_2{ background: url('../images/pregs/pic2.png') no-repeat center center; }
#image_ref_3{ background: url('../images/pregs/pic3.png') no-repeat center center; }
#image_ref_4{ background: url('../images/pregs/pic4.png') no-repeat center center; }
#image_ref_5{ background: url('../images/pregs/pic5.png') no-repeat center center; }

.pregOpc span{
    padding: 5px;
    margin-top: -5px;
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
    width: 190px;
}
.pregOpc{     
    top: 67px;
    left: 69px;
    position: absolute;
}
.pregOpc:hover{ cursor: pointer; }
#preg_1{ top: 444px; left: 337px; background: url('../images/pregs/op1.png') no-repeat; }
#preg_2{ top: 500px; left: 562px; background: url('../images/pregs/op2.png') no-repeat;}
#preg_3{ top: 444px; left: 790px; background: url('../images/pregs/op3.png') no-repeat;}


/*******************************************************************************/
#pregBien{ background-image: url(../images/game/BGacierto.png); top:60px; }
#bienResp{
    position: absolute;
    width: 100%; 
    height: 25px;
    top: 200px;
    left: 0px; right: 0px;
    font-family: "CatalogoGruesa";
    font-size: 22px;
    line-height: 25px;
    text-align:center;
    color:#333745;
    text-transform: uppercase;
}

 #btnListo{
    position: absolute;
    width: 167px; height: 41px;
    top: 575px; left: 590px;
    background: url(../images/btnListo.png) no-repeat 50% 50%;
    cursor: pointer;
}
/*******************************************************************************/
#pregMal{ background-image: url(../images/game/BGerror.png); transform: scale(0.8); top: 70px;}
#btnReintento{
    position: absolute;
    width: 167px; height: 41px;
    top: 557px;
    left: 596px;
    background: url(../images/btnReintento.png) no-repeat 50% 50%;
    cursor: pointer;
}
#bad_A1{
    position: absolute;
    width: 298px;
    height: 60px;
    left: 533px;
    top: 290px;
    font-family: 'CatalogoSG';
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: #333745;
}
#bad_A1 span{
        width: 260px;
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
}
#bad_A2{
    position: absolute;
    width: 383px;
    height: 136px;
    left: 490px;
    top: 401px;
    font-family: 'CatalogoSG';
    font-size: 16px;
    line-height: 136px;
    text-align: center;
    color: #333745;
}
#bad_A2 span{
    display: inline-block;
    vertical-align: middle;
    line-height: 16px;
    padding: 10px;
}

/****************************  ventana de resultados ****************************/
#caratulaFin1{ background:url(../images/fondoFin.png); }
/***#caratulaFin2{ background:url(../images/fondoGanaste.png); }/***/
#resumenAvatar{
    position: absolute;
    width: 268px; height: 341px;
    top: 203px; left: 394px;
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.playerF #resumenAvatar{ background-image: url(../images/avrsF.png); }
.playerM #resumenAvatar{ background-image: url(../images/avrsM.png); }
#resumenPuntaje{
    position: absolute;
    width: 164px;
    top: 189px; left: 836px;
    font-family: "CatalogoGruesa";
    font-size: 48px;
    color: #ff3650;
    text-align: center;
}
#resumenPuntajetotal{
    position: absolute;
    width: 164px;
    top: 189px; left: 1020px;
    font-family: "CatalogoGruesa";
    font-size: 48px;
    color: #ff3650;
    text-align: center;
}
#resumenEstrellas{
    position: absolute;
    width: 243px; height: 116px;
    top: 358px; left: 797px;
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#resumenEstrellas.st0{ background-image: url(../images/st0.png); }
#resumenEstrellas.st1{ background-image: url(../images/st1.png); }
#resumenEstrellas.st2{ background-image: url(../images/st2.png); }
#resumenEstrellas.st3{ background-image: url(../images/st3.png); }
#resumenBtns{
    position: absolute;
    width: 350px; height: 44px;
    left: 743px; top: 370px;
    text-align: center;
}
#resumenBtns *{
    position: relative;
    display: inline-block;
    width: 185px; height: 44px;
    font-size: 0;
    margin: 0 10px;
    vertical-align: top;
    cursor: pointer;
}
#btnReinicio{ background: url(../images/btnReintentar.png) no-repeat 50% 50%; }
#btnContinuar{ background:url(../images/btnContinuar.png) no-repeat 50% 50%; }
#resumenOportunidad{
    position: absolute;
    width: 172px; height: 11px;
    left: 755px; top: 437px;;
    background:url(../images/oportunidad.png) no-repeat 50% 50%;
}
/*****************************************  Key Controls  *****************************************/
.touchElement{
    display: block; opacity: 0;
    transition: opacity 1s linear;
    pointer-events: none;
}
.touchElement.show{
    opacity: 1;
    transition: opacity 0.5s linear;
    pointer-events: auto;
}
#contKeyControls{
    position:absolute;
    width:200px; height:200px;
    top:490px; left:20px;
    z-index:650;
    overflow:hidden;
}
#circleExt{
    position:absolute;
    width:200px; height:200px;
    top:0px; left:0px;
    opacity:0.3;
    background: url(../images/pad.png) no-repeat 0px 0px;
}
#circleExt .dirBtn{
    width:66px; height:66px;
    position:absolute; 
    background-color:rgba(255,255,255,0);
    border-radius:40%;
    cursor:pointer;
}
#circleExt .dirBtn.on{
    background-color:rgba(255,255,255,0.5);
}
#DBtn_0{ top:67px; left:0px; }
#DBtn_1{ top:0px; left:67px; }
#DBtn_2{ top:67px; right:0px; }
#DBtn_3{ bottom:0px; right:67px; }
/*****************************************  objetos ocultos  *****************************************/
#objetosOcultos{
    position:absolute;
    left:0px; top:0px;
    width:0px; height:0px;
    visibility:hidden;
    overflow:hidden;
    opacity:0;
}
#objetosOcultos div, #objetosOcultos img{
    position:absolute;
    width:0px; height:0px;
    opacity:0;
}
/*****************************************  carros  *****************************************/

.carsEnem{
    position: absolute;
    left: 0px; top: 0px;    
}
#enemy_1{
    width: 222px; height: 123px; top: -40px;
    background: url('../images/game/car1.png') no-repeat;
}
#enemy_2{
    width: 227px; height: 107px; top: -29px;
    background: url('../images/game/car2.png') no-repeat;
}
#enemy_3{
    width: 224px; height: 106px; top: -28px;
    background: url('../images/game/car3.png') no-repeat;
}
#enemy_4{
    width: 222px; height: 133px; top: -41px;
    background: url('../images/game/car4.png') no-repeat;
}
#enemy_5{
    width: 224px; height: 106px; top: -28px;
    background: url('../images/game/car5.png') no-repeat;
}
#enemy_6{
    width: 225px; height: 109px; top: -28px;
    background: url('../images/game/car6.png') no-repeat;
}
#enemy_7{
    width: 222px; height: 123px; top: -42px;
    background: url('../images/game/car7.png') no-repeat;
}











/*******************************************************************************/