@charset "utf-8";
/*********************************  Power Ups  *********************************/
.powerUp{}
.powerUp1{
    position:absolute; z-index:1; 
    width:70px; height:70px;
    background-color: rgba(132, 82, 82, 0.76);
    opacity:1;
    transition:opacity 500ms linear;
    font-size: 0px;
}
.powerUp1.hit{ opacity:0; }
/*******************************************************************************/
.icoPel{
    position:absolute;
    background-color: rgba(255,0,0,0);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.icoPrev{
    position:absolute;
    background-color: rgba(0,255,0,0);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
#icoPrev_1{ width:114px; height:134px; left:1319px; top:46px; background-image:url(../images/pwrup/prevencion1.png); }
#icoPrev_3{ width:71px; height:124px; left:765px; top:294px; background-image:url(../images/pwrup/prevencion3.png); }
#icoPrev_4{ width:138px; height:69px; left:1573px; top:18px; background-image:url(../images/pwrup/prevencion4.png); }
#icoPrev_5{ width:284px; height:72px; left:2242px; top:22px; background-image:url(../images/pwrup/prevencion5.png); }
#icoPrev_6{ width:89px; height:244px; left:1371px; top:585px; background-image:url(../images/pwrup/prevencion6.png); }
/**********************************  Paredes  **********************************/
.ParedMask{ position:absolute; left:0px; top:0px; width:50px; height:50px; display:none; }
.fondoOPC{ position:absolute; top:0px; left:0px; z-index:1; display:none; }
/***********************************  Player  ***********************************/
#Player_1{
    position:absolute;
    width: 205px;
    height: 107px;
    border-radius: 50%;
    z-index:2;
    background-color: rgba(132, 82, 82, 0);
}
#Player_1 .sprite{
    position:absolute;
    width: 332px;
    height: 202px;
    left: -64px;
    bottom: -39px;
    background-position:0px 0px;
    background-color: rgba(250,0,0,0);
}
#warning_MC{
    position: absolute;
    top: -20px;
    left: -24px;
    width: 241px;
    height: 160px;
    opacity: 0;
    background: url(../images/game/blur_mc.png) no-repeat center center;
    -webkit-transition: all 4s ease-out;
    -moz-transition: all 4s ease-out;
    -o-transition: all 4s ease-out;
    transition: all 4s ease-out;
}
.show_warn{opacity: 0.8 !important;}

.playerF .sprite{ background-image: url(../images/sprite_F.png); }
.playerM .sprite{ background-image: url(../images/sprite_M.png); }
#Player_1 .ptje{
    position:absolute; display:none;
    width:99px; height:91px;
    font-family:"Bebas";
    line-height: 91px;
    font-weight: bolder;
    font-size: 16px;
    text-align: center;
    left: 9px;
    top: -99px;
    text-align: center;
    background: rgba(250,0,0,0) url(../images/alert.png) no-repeat 50% 50%;
    cursor: pointer;
}
#Player_1 .ptje span{
    display: inline-block;
    vertical-align: middle;
    line-height: 10px;
    padding: 10px;
    font-size: 60px;
    margin-top: -15px;
}
/*****************************************  Enemigos *****************************************/
.enemigo{
    position:absolute;
    background-position:0px 0px;
    z-index:1;
}
.enemigoA{
    width:61px; height:51px;
    background:red;
}
.enemigoB{
    width:48px; height:51px;
    background:red;
}
.enemigoC{
    width:85px; height:61px;
    background:red;
}
@keyframes enemigoD{
   from{ background-position:0px 0px; }
     to{ background-position:-1255px 0px; }
}
.enemigoD{
    width: 222px;
    height: 80px;
    left:1200px; top:400px;
    /* background-color:rgba(177, 42, 42, 0.81); */
    opacity:1;
    transition:opacity 2s linear;
}
.enemigoD.hide{ opacity:0; }
.enemigoD div{
    position:absolute;
    bottom:0px;
}
.acera_mc{
    position: absolute;
    top: 141px;
    left: 0px;
    /* background: #ff00005e; */
    width: 1350px;
    height: 40px;
    z-index: 10;
}
.acera_mc1{
    position: absolute;
    top: 660px;
    left: 0px;
    /* background: #ff00005e; */
    width: 1350px;
    height: 40px;
    z-index: 10;
}


/*****************************************  Paredes  *****************************************/

/*************************  Objetos por cada escenario  *************************/
.conteo{
    position:absolute;
    background-repeat:no-repeat;
    background-position:center center;
    display: none;
}
#conteo1{
    position:absolute; 
    width:271px; height:181px;
    left:759px; top:244px;
    background-image:url(../images/conteo1.png);
}
#conteo2{
    position:absolute; 
    width:276px; height:181px;
    left:536px; top:244px;
    background-image:url(../images/conteo2.png);
}
#conteo3{
    position:absolute; 
    width:280px; height:181px;
    left:315px; top:244px;
    background-image:url(../images/conteo3.png);
}
#gameArea1{
    /*     position:absolute;*/
    width:4050px; height:700px;
       /*  left:0px; top:0px; */
    background:url(../images/fondo1.png);
    background-repeat: repeat-x; 
    background-position: left bottom; 
}

.pista_anim{
    -webkit-animation: slide 4s linear infinite; 
    -ms-animation: slide 4s linear infinite;
    -moz-animation: slide 4s linear infinite;
    -o-animation: slide 4s linear infinite;
    animation: slide 4s linear infinite;   
}

@-webkit-keyframes slide {
    0%        { background-position: 0 0; }
    100%    { background-position: 1350px 0; }
}

@-moz-keyframes slide {
    0%        { background-position: 0 0; }
    100%    { background-position: 1350px 0; }
}

@-ms-keyframes slide {
    0%        { background-position: 0 0; }
    100%    { background-position: 1350px 0; }
}

@-o-keyframes slide {
    0%        { background-position: 0 0; }
    100%    { background-position: -350px 0; }
}

@keyframes slide {
    0%        { background-position: 0 0; }
    100%    { background-position: 1350px 0; }
}
/*******************************************************************************/